<!DOCTYPE html>
<html ng-app="appBoston" lang="es">
    <head>
        <title>BOSTON CORP.</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="app/css/bootstrap.css">
        <!-- <link rel="stylesheet" href="app/css/style.css" type="text/css"> -->
        <link rel="stylesheet" href="app/css/ui-bootstrap-2.5.0-csp.css" type="text/css">        
        <link rel="stylesheet" href="app/css/miestilo.css" type="text/css">
        <link rel="stylesheet" href="app/css/ng-table.css" type="text/css">
        <link rel="stylesheet" href="app/css/toaster.css" type="text/css">

        
        <script src="app/scripts/jquery.min.js"></script>
        <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
        <link rel="stylesheet" href="app/css/font-awesome.css" type="text/css">
        <!--Google Fonts-->
        <link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>

        <link rel="shortcut icon" href="app/images/boston.ico">



    </head>
    <body>

         
      <div class="page-container">

          <div class="mother-grid-inner">
            <!--header start here-->
            <div class="header-main">

                <div align="center">
                  <h2>ALMACEN BOSTON CORP.</h2>                
                </div>
                <div class="clearfix"> </div>
           
                <div class="clearfix"> </div> 
            </div>










            
            <div class="container-fluid" style="background-color: #F2F2F2;" ng-controller="AlmacenAdministracionCtrl as cxp">
                  <toaster-container toaster-options="{'close-button': true}"></toaster-container>
                  <span class="cargando" us-spinner="{radius:30, width:10, length: 20,color: '#2E9AFE'}"></span>  
              <div align="center">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-primary" ng-class="{active:movimiento=='Entradas'}" ng-click="CargaAlmacen('Entradas')">Entradas <br></button>
                  <button type="button" class="btn btn-primary" ng-class="{active:movimiento=='Salidas'}" ng-click="CargaAlmacen('Salidas')">Salidas<br></button>
                  <button type="button" class="btn btn-primary" ng-class="{active:movimiento=='Historial'}" ng-click="CargaAlmacen('Historial')">Historial E/S<br></button>
                  <button type="button" class="btn btn-warning" ng-class="{active:movimiento=='Inventario'}" ng-click="CargaAlmacen('Inventario')">Inventario<br></button>
                  <button type="button" class="btn btn-warning" ng-class="{active:movimiento=='Historial Inventario'}" ng-click="CargaAlmacen('Historial Inventario')">Hist. Inv.<br></button>
                  <button type="button" class="btn btn-success" ng-class="{active:movimiento=='Codigos'}" ng-click="CargaAlmacen('Codigos')">Códigos de Barras</button>
                  <button type="button" class="btn btn-default" ng-class="{active:movimiento=='Reportes'}" ng-click="CargaAlmacen('Reportes')">Reportes</button>
                </div>
                <hr>
              </div>


            <div ng-show="movimiento=='Entradas'">
              <h3>ENTRADAS</h3>
              <form name="formalmacenentrada" class="form-horizontal">
                  <div class="form-group has-success">
                        
                        <div class="col-sm-2">
                          <label>Fecha Entrada:</label>
                            <input type="date" name="fecha" class="form-control" ng-model="entrada.fecha" required="" >
                        </div>
                        <div class="col-sm-2">
                          <label>
                            <input type="radio" ng-model="TipoEntrada" value="PRODUCTO TERMINADO">
                            Producto Terminado
                          </label><br/>
                          <label>
                            <input type="radio" ng-model="TipoEntrada" value="DEVOLUCIÓN">
                            Devolución
                          </label>
                        </div>
                        <div class="col-sm-6" ng-show="TipoEntrada=='PRODUCTO TERMINADO'">
                          <label>Proveedor producto terminado:</label>
                            <select name="cveproveedor" class="form-control" required="" ng-model="entrada.cveproveedor" ng-change="ProveedorSeleccionado(entrada.cveproveedor)">
                              <option>AGREGAR...</option>
                              <option ng-repeat="y in tableproveedoreslist | orderBy:'empresa'" value="{{y.empresa}}">{{y.empresa}}</option>
                            </select>
                        </div>

                        <div class="col-sm-6" ng-show="TipoEntrada=='DEVOLUCIÓN'">
                          <label>Cliente:</label>
                            <select name="cliente" class="form-control" required="" ng-model="entrada.cveproveedor" ng-change="ClienteSeleccionado(entrada.cveproveedor)">
                              <option>AGREGAR...</option>
                              <option ng-repeat="y in tableclienteslist | orderBy:'nombre'" value="{{y.nombre}}">{{y.nombre}}</option>
                            </select>
                        </div>

                        <div class="col-sm-1">
                          <label>Folio:</label>
                            <input type="text" name="folio" class="form-control" ng-model="entrada.folio" required="" >
                        </div>                     
                    </div>                  


                    <div class="table-responsive">
                      <table class="table table-bordered table-condensed table-striped">
                        <tr style="background-color: #5882FA;">
                          <td><font color="white">No CORTE</font></td>
                          <td><font color="white">MODELO</font></td>
                          <td><font color="white">COLOR</font></td>
                          <td><font color="white">3<br>28<br>XS</font></td>
                          <td><font color="white">5<br>30<br>S</font></td>
                          <td><font color="white">7<br>32<br>M</font></td>
                          <td><font color="white">9<br>34<br>G</font></td>
                          <td><font color="white">11<br>36<br>XL</font></td>
                          <td><font color="white">13<br>38<br>2XL</font></td>
                          <td><font color="white">15<br>40<br>3XL</font></td>
                          <td><font color="white">17<br>42</font></td>
                          <td><font color="white">19<br>44</font></td>
                          <td><font color="white">21<br>46</font></td>
                          <td><font color="white">23<br>48</font></td>
                          <td><font color="white">&nbsp;<br>50</font></td>
                          <td><font color="white">&nbsp;<br>52</font></td>
                          <td><font color="white">&nbsp;<br>VAR</font></td>
                          <td><font color="white">Total<br>{{TotaldeTotales}}</td>
                          <td><button class="btn btn-success btn-sm" ng-click="AgregarCorte()">Agregar</button></td>
                        </tr>
                        <tr ng-repeat="x in ListaEntradas">
                          <td style="width:10px"><input type="text" size="1" ng-model="x.numerocorte"></td>
                          <td>
                            <select name="modelo" class="form-control" required="" ng-model="x.modelo" style="font-size: smaller;" ng-change="ModeloSeleccionado(x.modelo,$index)">
                              <option>AGREGAR...</option>
                              <option ng-repeat="y in tablefamiliadisenioslist | orderBy:'familia'" value="{{y}}">{{y.familia}}</option>
                            </select>
                          </td>
                          <td>
                            <select name="color" class="form-control" required="" ng-model="x.color" style="font-size: smaller;" ng-change="ColorSeleccionado(x.color,$index)">
                              <option>AGREGAR...</option>
                              <option ng-repeat="y in tablefamiliacoloreslist | orderBy:'color'" value="{{y}}" ng-show="y.familiadisenio==FamiliaSeleccionada.familia">{{y.color}}</option>
                            </select>
                          </td>                        

                          <td width="5%"><input type="text" size="1" ng-model="x.tallasa.cantidad" ng-blur="ActualizaTotales(x)"/></td>
                          <td width="5%"><input type="text" size="1" ng-model="x.tallasb.cantidad" ng-blur="ActualizaTotales(x)"/></td>
                          <td width="5%"><input type="text" size="1" ng-model="x.tallasc.cantidad" ng-blur="ActualizaTotales(x)"/></td>
                          <td width="5%"><input type="text" size="1" ng-model="x.tallasd.cantidad" ng-blur="ActualizaTotales(x)"/></td>
                          <td width="5%"><input type="text" size="1" ng-model="x.tallase.cantidad" ng-blur="ActualizaTotales(x)"/></td>
                          <td width="5%"><input type="text" size="1" ng-model="x.tallasf.cantidad" ng-blur="ActualizaTotales(x)"/></td>
                          <td width="5%"><input type="text" size="1" ng-model="x.tallasg.cantidad" ng-blur="ActualizaTotales(x)"/></td>
                          <td width="5%"><input type="text" size="1" ng-model="x.tallash.cantidad" ng-blur="ActualizaTotales(x)"/></td>
                          <td width="5%"><input type="text" size="1" ng-model="x.tallasi.cantidad" ng-blur="ActualizaTotales(x)"/></td>
                          <td width="5%"><input type="text" size="1" ng-model="x.tallasj.cantidad" ng-blur="ActualizaTotales(x)"/></td>
                          <td width="5%"><input type="text" size="1" ng-model="x.tallask.cantidad" ng-blur="ActualizaTotales(x)"/></td>
                          <td width="5%"><input type="text" size="1" ng-model="x.tallasl.cantidad" ng-blur="ActualizaTotales(x)"/></td>
                          <td width="5%"><input type="text" size="1" ng-model="x.tallasm.cantidad" ng-blur="ActualizaTotales(x)"/></td>
                          <td width="5%"><input type="text" size="1" ng-model="x.tallasn.cantidad" ng-blur="ActualizaTotales(x)"/></td>
                          <td width="5%">{{x.totalpiezas}}</td>
        

                          <td width="5%"><button class="btn btn-danger btn-sm" ng-click="EliminarCorteLista(x,$index)">Eliminar</button></td>
                        </tr>
                      </table>
                      <div align="center">
                        <button class="btn btn-success" ng-click="GuardaEntradaAlmacen()">Guardar Entrada</button>
                      </div>
                    </div>
                  </form>

            </div>


            <div ng-show="movimiento=='Salidas'">
              <h3>SALIDAS</h3>
              <form name="formalmacesalidas" class="form-horizontal">
                <div class="form-group has-success">                        
                  <div class="col-sm-2">
                    <label>Fecha Salida:</label>
                      <input type="date" name="fecha" class="form-control" ng-model="salida.fecha" required="" >
                  </div>
                  <div class="col-sm-2">
                    <label>
                      <input type="radio" ng-model="TipoSalida" value="CARGA RUTAS">
                      Carga a Rutas
                    </label><br/>
                    <label>
                      <input type="radio" ng-model="TipoSalida" value="CLIENTES">
                      Clientes
                    </label>
                  </div>
                  <div class="col-sm-3" ng-show="TipoSalida=='CARGA RUTAS'">
                    <label>Ruta:</label>
                      <select name="ruta" class="form-control" required="" ng-model="salida.clienteruta" ng-change="RutaSeleccionada(salida.clienteruta)">
                        <option>AGREGAR...</option>
                        <option ng-repeat="y in tablefamiliarutaslist | orderBy:'nombre'" value="{{y.nombre}}">{{y.nombre}}</option>
                      </select>
                  </div>
                  <div class="col-sm-3" ng-show="TipoSalida=='CARGA RUTAS'">
                    <label>Plaza:</label>
                      <select name="plazaruta" class="form-control" required="" ng-model="salida.plazaruta" ng-change="PlazaRutaSeleccionada(salida.plazaruta)">
                        <option>AGREGAR...</option>
                        <option ng-repeat="y in tablefamiliaplazasrutaslist | orderBy:'nombre'" value="{{y.nombre}}">{{y.nombre}}</option>
                      </select>
                  </div>

                  <div class="col-sm-6" ng-show="TipoSalida=='CLIENTES'">
                    <label>Cliente:</label>
                      <select name="cliente" class="form-control" required="" ng-model="salida.clienteruta" ng-change="ClienteSeleccionado(salida.clienteruta)">
                        <option>AGREGAR...</option>
                        <option ng-repeat="y in tableclienteslist | orderBy:'nombre'" value="{{y.nombre}}">{{y.nombre}}</option>
                      </select>
                  </div>

                  <div class="col-sm-1">
                    <label>Folio:</label>
                      <input type="text" name="folio" class="form-control" ng-model="salida.folio" required="" >
                  </div>                     
              </div> 

              <div class="form-group has-success">
                <div class="col-sm-3">
                  <label>Código de barras:</label>
                    <input type="text" id="salidacodigobarras" class="form-control" ng-model="cortecodigobarras" ng-change="CodigoEscaneado(cortecodigobarras)" ng-model-options="{debounce: 500}" autocomplete="off" autofocus>
                </div>
                <div class="col-sm-3">
                  <label>Modelo:</label>
                    <select name="modelo" class="form-control" required="" ng-model="codigo.familia" style="font-size: smaller;" ng-change="FamiliaSeleccionada(codigo.familia)">
                      <option ng-repeat="y in tablefamiliadisenioslist | orderBy:'familia'" value="{{y}}">{{y.familia}}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                  <label>Color:</label> 
                    <select name="color" class="form-control" required="" ng-model="codigo.color" style="font-size: smaller;" ng-change="ColorSeleccionado(codigo.color)">
                      <option ng-repeat="y in tablefamiliacoloreslist | orderBy:'color'" value="{{y}}" ng-show="y.familiadisenio==famslected.familia">{{y.color}}</option>
                    </select>
                </div>
<!--                 <div class="col-sm-2">
                  <label>Tallas:</label> 
                  <select name="talla" class="form-control" required="" ng-model="codigo.tallalista" style="font-size: smaller;">
                    <option ng-repeat="y in listatallas" value="{{y}}">{{y}}</option> 
                  </select>
                </div>  --> 
                <div class="col-sm-1">
                  &nbsp;<br> 
                  <button class="btn btn-success btn-sm" ng-click="AgregaCorteSalidaManual(codigo)">Agregar</button> 
                </div>   
              </div>  


              <div class="table-responsive">
                <table class="table table-bordered table-condensed table-striped">
                  <tr style="background-color: #5882FA;">
                    <td><font color="white">No CORTE</font></td>
                    <td><font color="white">MODELO</font></td>
                    <td><font color="white">COLOR</font></td>
                    <td><font color="white">3<br>28<br>XS</font></td>
                    <td><font color="white">5<br>30<br>S</font></td>
                    <td><font color="white">7<br>32<br>M</font></td>
                    <td><font color="white">9<br>34<br>G</font></td>
                    <td><font color="white">11<br>36<br>XL</font></td>
                    <td><font color="white">13<br>38<br>2XL</font></td>
                    <td><font color="white">15<br>40<br>3XL</font></td>
                    <td><font color="white">17<br>42</font></td>
                    <td><font color="white">19<br>44</font></td>
                    <td><font color="white">21<br>46</font></td>
                    <td><font color="white">23<br>48</font></td>
                    <td><font color="white">&nbsp;<br>50</font></td>
                    <td><font color="white">&nbsp;<br>52</font></td>
                    <td><font color="white">&nbsp;<br>VAR</font></td>
                    <td><font color="white">Total<br>{{TotaldeTotalesSalida}}</td>
                    <td></td>
                  </tr>

                  <tr ng-repeat="z in ListaSalidas">
                    <td><input type="text" size="1" ng-model="z.numerocorte" /></td> 
                    <td>{{z.modelo}}</td>
                    <td>{{z.color}}</td>
                    <td><input type="text" size="1" ng-model="z.tallasa.cantidadsalida" ng-disabled="z.tallasa.cantidad<=0" ng-blur="ActualizaSalidaCantidad(z,z.tallasa,$index)">{{z.tallasa.cantidad}}</td>
                    <td><input type="text" size="1" ng-model="z.tallasb.cantidadsalida" ng-disabled="z.tallasb.cantidad<=0" ng-blur="ActualizaSalidaCantidad(z,z.tallasb,$index)">{{z.tallasb.cantidad}}</td>
                    <td><input type="text" size="1" ng-model="z.tallasc.cantidadsalida" ng-disabled="z.tallasc.cantidad<=0" ng-blur="ActualizaSalidaCantidad(z,z.tallasc,$index)">{{z.tallasc.cantidad}}</td>
                    <td><input type="text" size="1" ng-model="z.tallasd.cantidadsalida" ng-disabled="z.tallasd.cantidad<=0" ng-blur="ActualizaSalidaCantidad(z,z.tallasd,$index)">{{z.tallasd.cantidad}}</td>
                    <td><input type="text" size="1" ng-model="z.tallase.cantidadsalida" ng-disabled="z.tallase.cantidad<=0" ng-blur="ActualizaSalidaCantidad(z,z.tallase,$index)">{{z.tallase.cantidad}}</td>
                    <td><input type="text" size="1" ng-model="z.tallasf.cantidadsalida" ng-disabled="z.tallasf.cantidad<=0" ng-blur="ActualizaSalidaCantidad(z,z.tallasf,$index)">{{z.tallasf.cantidad}}</td>
                    <td><input type="text" size="1" ng-model="z.tallasg.cantidadsalida" ng-disabled="z.tallasg.cantidad<=0" ng-blur="ActualizaSalidaCantidad(z,z.tallasg,$index)">{{z.tallasg.cantidad}}</td>
                    <td><input type="text" size="1" ng-model="z.tallash.cantidadsalida" ng-disabled="z.tallash.cantidad<=0" ng-blur="ActualizaSalidaCantidad(z,z.tallash,$index)">{{z.tallash.cantidad}}</td>
                    <td><input type="text" size="1" ng-model="z.tallasi.cantidadsalida" ng-disabled="z.tallasi.cantidad<=0" ng-blur="ActualizaSalidaCantidad(z,z.tallasi,$index)">{{z.tallasi.cantidad}}</td>
                    <td><input type="text" size="1" ng-model="z.tallasj.cantidadsalida" ng-disabled="z.tallasj.cantidad<=0" ng-blur="ActualizaSalidaCantidad(z,z.tallasj,$index)">{{z.tallasj.cantidad}}</td>
                    <td><input type="text" size="1" ng-model="z.tallask.cantidadsalida" ng-disabled="z.tallask.cantidad<=0" ng-blur="ActualizaSalidaCantidad(z,z.tallask,$index)">{{z.tallask.cantidad}}</td>
                    <td><input type="text" size="1" ng-model="z.tallasl.cantidadsalida" ng-disabled="z.tallasl.cantidad<=0" ng-blur="ActualizaSalidaCantidad(z,z.tallasl,$index)">{{z.tallasl.cantidad}}</td>
                    <td><input type="text" size="1" ng-model="z.tallasm.cantidadsalida" ng-disabled="z.tallasm.cantidad<=0" ng-blur="ActualizaSalidaCantidad(z,z.tallasm,$index)">{{z.tallasm.cantidad}}</td>
                    <td><input type="text" size="1" ng-model="z.tallasn.cantidadsalida" ng-disabled="z.tallasn.cantidad<=0" ng-blur="ActualizaSalidaCantidad(z,z.tallasn,$index)">{{z.tallasn.cantidad}}</td>
                    
                    <td>{{z.totalpiezassalida}}</td>
                    <td><button class="btn btn-danger btn-xs" ng-click="EliminarCorteListaSalida(x,$index)">Eliminar</button></td>
                  </tr>
                </table>
                <div align="center">
                  <button class="btn btn-success" ng-click="GuardaSalidaAlmacen()">Guardar Salida</button>
                </div>
              </div>


              <div id="imprimirtabla" align="center" ng-show="false">
                <div>
                  <hr/>
                  <img src="app/images/boston_logo.JPG" width="140" height="145">
                </div><br>
                <p style="font-size:large;">Fecha Salida: {{salida.fecha | date:'dd-MMM-yyyy'}}</p>
                <p style="font-size:large;" ng-if="TipoSalida=='CARGA RUTAS'">Ruta: {{salida.clienteruta}}</p>
                <p style="font-size:large;" ng-if="TipoSalida=='CARGA RUTAS'">Plaza: {{salida.plazaruta}}</p>
                <p style="font-size:large;" ng-if="TipoSalida=='CLIENTES'">Cliente: {{salida.clienteruta}}</p>
                <p style="font-size:large;">Folio: {{salida.folio}}</p>              
                <table border="1" style="font-size: x-large;">
                  <tr align="center">
                    <td><label> MODELO </label></td>
                    <td><label> CANTIDAD </label></td>                    
                  </tr>
                  <tr ng-repeat="z in ListaSalidasTicket" align="center" ng-init="totalprueba=0" ng-if="getTotalpzas(z)>0">
                    <td>{{z[0].modelo}}</td>
                    <td>{{getTotalpzas(z)}} </td>
                  </tr>
                  <tr align="center">
                    <td>TOTAL</td>
                    <td>{{TotaldeTotalesSalida}}</td>
                  </tr>
                </table><br> 
                <label>© 2022 BOSTON CORP. All Rights Reserved</label>
                <hr/>
              </div>

              </form>
            </div>


            <div ng-show="movimiento=='Historial'">
              <h3>HISTORIAL</h3>
              <form name="formhistorial" class="form-horizontal">
                <div class="form-group has-success">
                  <label class="col-sm-1">Fecha inicio:</label>
                  <div class="col-sm-2">
                    <input type="date" class="form-control" ng-model="fecha.fechaini">
                  </div>

                  <label class="col-sm-1">Fecha fin:</label>
                  <div class="col-sm-2">
                    <input type="date" class="form-control" ng-model="fecha.fechafin">
                  </div>

                  <label class="col-sm-1">Movimiento:</label>
                  <div class="col-sm-2">
                    <select name="tipomovimiento" class="form-control" required="" ng-model="tipomovimiento">
                              <option ng-repeat="a in tipomovimientolist">{{a}}</option>
                          </select>
                  </div>
                  <div class="col-sm-2">
                          <button class="btn btn-primary form-group" ng-click="BtnBuscaFechas()">Buscar</button>
                        </div>
                        <br><br><br>
                </div>

                <div class="table-responsive" ng-show="muestrahistorial">
                  <div align="right">
                    <button class="btn btn-danger btn-sm" ng-click="BtnExportPDF('capturehistoriales')">PDF</button>
                    <button class="btn btn-success btn-sm" ng-click="exportToExcel('#tablehistoriales')">Excel</button>
                  </div>
                  <div class="table-responsive" id="capturehistoriales">
                    <table class="table table-bordered table-condensed table-striped" id="tablehistoriales">
                      <tr style="background-color: #5882FA;">
                        <td><font color="white">FOLIO</font></td>
                        <td><font color="white">MODELO</font></td>
                        <td><font color="white">COLOR</font></td>
                        <td><font color="white">MOVIMIENTO</font></td>
                        <td><font color="white">FECHA</font></td>
                        <td><font color="white">3<br>28<br>XS</font></td>
                        <td><font color="white">5<br>30<br>S</font></td>
                        <td><font color="white">7<br>32<br>M</font></td>
                        <td><font color="white">9<br>34<br>G</font></td>
                        <td><font color="white">11<br>36<br>XL</font></td>
                        <td><font color="white">13<br>38<br>2XL</font></td>
                        <td><font color="white">15<br>40<br>3XL</font></td>
                        <td><font color="white">17<br>42</font></td>
                        <td><font color="white">19<br>44</font></td>
                        <td><font color="white">21<br>46</font></td>
                        <td><font color="white">23<br>48</font></td>
                        <td><font color="white">&nbsp;<br>50</font></td>
                        <td><font color="white">&nbsp;<br>52</font></td>
                        <td><font color="white">&nbsp;<br>VAR</font></td>
                        <td><font color="white">Total<br>E={{totaltotalesentradas}}<br>S={{totaltotalessalidas}}</font></td>
                      </tr>
                      <tr ng-repeat="z in movimientosxfechalist | orderBy:'folio'" ng-if="z.totalpiezas!=0">
                        <td ng-class="{'ENTRADA':'entradaslist','SALIDA':'salidaslist'}[z.tipomovimiento]">{{z.folio}}</td>
                        <td ng-class="{'ENTRADA':'entradaslist','SALIDA':'salidaslist'}[z.tipomovimiento]">{{z.modelo}}</td>
                        <td ng-class="{'ENTRADA':'entradaslist','SALIDA':'salidaslist'}[z.tipomovimiento]">{{z.color}}</td>
                        <td ng-class="{'ENTRADA':'entradaslist','SALIDA':'salidaslist'}[z.tipomovimiento]">{{z.tipomovimiento}} - ({{z.proveedorclienteruta}})</td>
                        <td ng-class="{'ENTRADA':'entradaslist','SALIDA':'salidaslist'}[z.tipomovimiento]"><span ng-if="z.tipomovimiento=='ENTRADA'">{{z.fechaentrada | date:'dd-MMM-yyyy'}}</span> <span ng-if="z.tipomovimiento=='SALIDA'">{{z.fechasalida | date:'dd-MMM-yyyy'}}</span></td>
                        <td ng-class="{'ENTRADA':'entradaslist','SALIDA':'salidaslist'}[z.tipomovimiento]">
                          <span ng-if="z.tallasa.cantidad>0 && z.tipomovimiento=='ENTRADA'">{{z.tallasa.cantidad}}</span>
                          <span ng-if="z.tallasa.cantidadsalida>0 && z.tipomovimiento=='SALIDA'">{{z.tallasa.cantidadsalida}}</span>
                        </td>
                        <td ng-class="{'ENTRADA':'entradaslist','SALIDA':'salidaslist'}[z.tipomovimiento]">
                          <span ng-if="z.tallasb.cantidad>0 && z.tipomovimiento=='ENTRADA'">{{z.tallasb.cantidad}}</span>
                          <span ng-if="z.tallasb.cantidadsalida>0 && z.tipomovimiento=='SALIDA'">{{z.tallasb.cantidadsalida}}</span>
                        </td>
                        <td ng-class="{'ENTRADA':'entradaslist','SALIDA':'salidaslist'}[z.tipomovimiento]">
                          <span ng-if="z.tallasc.cantidad>0 && z.tipomovimiento=='ENTRADA'">{{z.tallasc.cantidad}}</span>
                          <span ng-if="z.tallasc.cantidadsalida>0 && z.tipomovimiento=='SALIDA'">{{z.tallasc.cantidadsalida}}</span>
                        </td>
                        <td ng-class="{'ENTRADA':'entradaslist','SALIDA':'salidaslist'}[z.tipomovimiento]">
                          <span ng-if="z.tallasd.cantidad>0 && z.tipomovimiento=='ENTRADA'">{{z.tallasd.cantidad}}</span>
                          <span ng-if="z.tallasd.cantidadsalida>0 && z.tipomovimiento=='SALIDA'">{{z.tallasd.cantidadsalida}}</span>
                        </td>
                        <td ng-class="{'ENTRADA':'entradaslist','SALIDA':'salidaslist'}[z.tipomovimiento]">
                          <span ng-if="z.tallase.cantidad>0 && z.tipomovimiento=='ENTRADA'">{{z.tallase.cantidad}}</span>
                          <span ng-if="z.tallase.cantidadsalida>0 && z.tipomovimiento=='SALIDA'">{{z.tallase.cantidadsalida}}</span>
                        </td>
                        <td ng-class="{'ENTRADA':'entradaslist','SALIDA':'salidaslist'}[z.tipomovimiento]">
                          <span ng-if="z.tallasf.cantidad>0 && z.tipomovimiento=='ENTRADA'">{{z.tallasf.cantidad}}</span>
                          <span ng-if="z.tallasf.cantidadsalida>0 && z.tipomovimiento=='SALIDA'">{{z.tallasf.cantidadsalida}}</span>
                        </td>
                        <td ng-class="{'ENTRADA':'entradaslist','SALIDA':'salidaslist'}[z.tipomovimiento]">
                          <span ng-if="z.tallasg.cantidad>0 && z.tipomovimiento=='ENTRADA'">{{z.tallasg.cantidad}}</span>
                          <span ng-if="z.tallasg.cantidadsalida>0 && z.tipomovimiento=='SALIDA'">{{z.tallasg.cantidadsalida}}</span>
                        </td>
                        <td ng-class="{'ENTRADA':'entradaslist','SALIDA':'salidaslist'}[z.tipomovimiento]">
                          <span ng-if="z.tallash.cantidad>0 && z.tipomovimiento=='ENTRADA'">{{z.tallash.cantidad}}</span>
                          <span ng-if="z.tallash.cantidadsalida>0 && z.tipomovimiento=='SALIDA'">{{z.tallash.cantidadsalida}}</span>
                        </td>
                        <td ng-class="{'ENTRADA':'entradaslist','SALIDA':'salidaslist'}[z.tipomovimiento]">
                          <span ng-if="z.tallasi.cantidad>0 && z.tipomovimiento=='ENTRADA'">{{z.tallasi.cantidad}}</span>
                          <span ng-if="z.tallasi.cantidadsalida>0 && z.tipomovimiento=='SALIDA'">{{z.tallasi.cantidadsalida}}</span>
                        </td>
                        <td ng-class="{'ENTRADA':'entradaslist','SALIDA':'salidaslist'}[z.tipomovimiento]">
                          <span ng-if="z.tallasj.cantidad>0 && z.tipomovimiento=='ENTRADA'">{{z.tallasj.cantidad}}</span>
                          <span ng-if="z.tallasj.cantidadsalida>0 && z.tipomovimiento=='SALIDA'">{{z.tallasj.cantidadsalida}}</span>
                        </td>
                        <td ng-class="{'ENTRADA':'entradaslist','SALIDA':'salidaslist'}[z.tipomovimiento]">
                          <span ng-if="z.tallask.cantidad>0 && z.tipomovimiento=='ENTRADA'">{{z.tallask.cantidad}}</span>
                          <span ng-if="z.tallask.cantidadsalida>0 && z.tipomovimiento=='SALIDA'">{{z.tallask.cantidadsalida}}</span>
                        </td>
                        <td ng-class="{'ENTRADA':'entradaslist','SALIDA':'salidaslist'}[z.tipomovimiento]">
                          <span ng-if="z.tallasl.cantidad>0 && z.tipomovimiento=='ENTRADA'">{{z.tallasl.cantidad}}</span>
                          <span ng-if="z.tallasl.cantidadsalida>0 && z.tipomovimiento=='SALIDA'">{{z.tallasl.cantidadsalida}}</span>
                        </td>
                        <td ng-class="{'ENTRADA':'entradaslist','SALIDA':'salidaslist'}[z.tipomovimiento]">
                          <span ng-if="z.tallasm.cantidad>0 && z.tipomovimiento=='ENTRADA'">{{z.tallasm.cantidad}}</span>
                          <span ng-if="z.tallasm.cantidadsalida>0 && z.tipomovimiento=='SALIDA'">{{z.tallasm.cantidadsalida}}</span>
                        </td>
                        <td ng-class="{'ENTRADA':'entradaslist','SALIDA':'salidaslist'}[z.tipomovimiento]">
                          <span ng-if="z.tallasn.cantidad>0 && z.tipomovimiento=='ENTRADA'">{{z.tallasn.cantidad}}</span>
                          <span ng-if="z.tallasn.cantidadsalida>0 && z.tipomovimiento=='SALIDA'">{{z.tallasn.cantidadsalida}}</span>
                        </td>
                        <td ng-class="{'ENTRADA':'entradaslist','SALIDA':'salidaslist'}[z.tipomovimiento]"><span ng-if="z.tipomovimiento=='ENTRADA'">{{z.totalpiezas}}</span>
                        <span ng-if="z.tipomovimiento=='SALIDA'">{{z.totalpiezassalida}}</span>
                      </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </form>
            </div>


            <div ng-show="movimiento=='Inventario'">
              <h3>INVENTARIO</h3>
              <form name="forminventario" class="form-horizontal">
                <div class="table-responsive">
                  <div align="right">
                    <button ng-if="edita==0" class="btn btn-danger btn-sm" ng-click="BtnExportPDF('capture')">PDF</button>
                    <button ng-if="edita==0" class="btn btn-success btn-sm" ng-click="exportToExcel('#tableinventario')">Excel</button>
                    <button ng-if="edita==0" class="btn btn-info btn-sm" ng-click="HabilitaInventarioFinal()" id="infin">Inventario Final</button>
                    
                    <button ng-if="edita==1" class="btn btn-success btn-sm" ng-click="GuardaInventarioFinal()">Guardar Inventario</button>
                    <button ng-if="edita==1" class="btn btn-warning btn-sm" ng-click="CancelaInventarioFinal()">Cancelar Inventario</button>
                  </div>
                  <div class="table-responsive" id="capture">
                    <table class="table table-bordered table-condensed table-striped" id="tableinventario">
                      <tr style="background-color: #5882FA;">
                        <td><font color="white">MODELO</font></td>
                        <td><font color="white">COLOR</font></td>
                        <td><font color="white">3<br>28<br>XS</font></td>
                        <td><font color="white">5<br>30<br>S</font></td>
                        <td><font color="white">7<br>32<br>M</font></td>
                        <td><font color="white">9<br>34<br>G</font></td>
                        <td><font color="white">11<br>36<br>XL</font></td>
                        <td><font color="white">13<br>38<br>2XL</font></td>
                        <td><font color="white">15<br>40<br>3XL</font></td>
                        <td><font color="white">17<br>42</font></td>
                        <td><font color="white">19<br>44</font></td>
                        <td><font color="white">21<br>46</font></td>
                        <td><font color="white">23<br>48</font></td>
                        <td><font color="white">&nbsp;<br>50</font></td>
                        <td><font color="white">&nbsp;<br>52</font></td>
                        <td><font color="white">&nbsp;<br>VAR</font></td>
                        <td><font color="white">Total<br>
                          {{TotaldeTotalesInventario}}
                        </font></td>
                      </tr>
                      <tr ng-repeat="z in tablealmacenproductoterminadolist | orderBy:'modelo'">
                        <td>{{z.modelo}}</td>
                        <td>
                          <button type="button" class="btn btn-danger btn-xs" ng-if="edita==1" ng-click="EliminaFila(z,$index)">  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                          </button>
                          {{z.color}}                        
                        </td>
                        <td>
                          <span ng-if="z.tallasa.cantidad>0 && edita==0">{{z.tallasa.cantidad}}</span>
                          <input ng-if="edita==1" type="text" size="1" ng-model="z.tallasa.cantidad" ng-blur="ActualizaTotales(z)">
                        </td>
                        <td>
                          <span ng-if="z.tallasb.cantidad>0 && edita==0">{{z.tallasb.cantidad}}</span>
                          <input ng-if="edita==1" type="text" size="1" ng-model="z.tallasb.cantidad" ng-blur="ActualizaTotales(z)">
                        </td>
                        <td><span ng-if="z.tallasc.cantidad>0 && edita==0">{{z.tallasc.cantidad}}</span>
                          <input ng-if="edita==1" type="text" size="1" ng-model="z.tallasc.cantidad" ng-blur="ActualizaTotales(z)">
                        </td>
                        <td><span ng-if="z.tallasd.cantidad>0 && edita==0">{{z.tallasd.cantidad}}</span>
                          <input ng-if="edita==1" type="text" size="1" ng-model="z.tallasd.cantidad" ng-blur="ActualizaTotales(z)">
                        </td>
                        <td><span ng-if="z.tallase.cantidad>0 && edita==0">{{z.tallase.cantidad}}</span>
                          <input ng-if="edita==1" type="text" size="1" ng-model="z.tallase.cantidad" ng-blur="ActualizaTotales(z)">
                        </td>
                        <td><span ng-if="z.tallasf.cantidad>0 && edita==0">{{z.tallasf.cantidad}}</span>
                          <input ng-if="edita==1" type="text" size="1" ng-model="z.tallasf.cantidad" ng-blur="ActualizaTotales(z)">
                        </td>
                        <td><span ng-if="z.tallasg.cantidad>0 && edita==0">{{z.tallasg.cantidad}}</span>
                          <input ng-if="edita==1" type="text" size="1" ng-model="z.tallasg.cantidad" ng-blur="ActualizaTotales(z)">
                        </td>
                        <td><span ng-if="z.tallash.cantidad>0 && edita==0">{{z.tallash.cantidad}}</span>
                          <input ng-if="edita==1" type="text" size="1" ng-model="z.tallash.cantidad" ng-blur="ActualizaTotales(z)">
                        </td>
                        <td><span ng-if="z.tallasi.cantidad>0 && edita==0">{{z.tallasi.cantidad}}</span>
                          <input ng-if="edita==1" type="text" size="1" ng-model="z.tallasi.cantidad" ng-blur="ActualizaTotales(z)">
                        </td>
                        <td><span ng-if="z.tallasj.cantidad>0 && edita==0">{{z.tallasj.cantidad}}</span>
                          <input ng-if="edita==1" type="text" size="1" ng-model="z.tallasj.cantidad" ng-blur="ActualizaTotales(z)">
                        </td>
                        <td><span ng-if="z.tallask.cantidad>0 && edita==0">{{z.tallask.cantidad}}</span>
                          <input ng-if="edita==1" type="text" size="1" ng-model="z.tallask.cantidad" ng-blur="ActualizaTotales(z)">
                        </td>
                        <td><span ng-if="z.tallasl.cantidad>0 && edita==0">{{z.tallasl.cantidad}}</span>
                          <input ng-if="edita==1" type="text" size="1" ng-model="z.tallasl.cantidad" ng-blur="ActualizaTotales(z)">
                        </td>
                        <td><span ng-if="z.tallasm.cantidad>0 && edita==0">{{z.tallasm.cantidad}}</span>
                          <input ng-if="edita==1" type="text" size="1" ng-model="z.tallasm.cantidad" ng-blur="ActualizaTotales(z)">
                        </td>
                        <td><span ng-if="z.tallasn.cantidad>0 && edita==0">{{z.tallasn.cantidad}}</span>
                          <input ng-if="edita==1" type="text" size="1" ng-model="z.tallasn.cantidad" ng-blur="ActualizaTotales(z)">
                        </td>
                        <td>
                          <span>{{z.totalpiezas}}</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </form>
            </div>



            <div ng-show="movimiento=='Historial Inventario'">
              <h3>HISTORIAL INVENTARIO</h3>
              <form name="formhistorialinventario" class="form-horizontal">
                <label>Inventarios Realizados</label><br>
                <div>
                  <div class="btn-group" role="group" ng-repeat="invfin in tablehistorialinventarioslist">
                    <button type="button" class="btn btn-primary" ng-class="{active:movimiento=='Entradas'}" ng-click="VerInfoInvFinal(invfin)">{{invfin.mes}} / {{invfin.anio}}<br></button>
                  </div> 
                  <hr>
                </div>

                <div class="table-responsive" id="" ng-show="MuestraHistorialInv">                  
                  <table class="table table-bordered table-condensed table-striped" id="">
                    <tr>
                      <td>Fecha Inventario : {{nombreMes}} / {{anioinv}}</td>
                      <td>Fecha Captura : {{dateCaptura | date:'dd-MMMM-yyyy - HH:mm:ss'}}</td>
                    </tr>
                    <tr style="background-color: #5882FA;">
                      <td><font color="white">MODELO</font></td>
                      <td><font color="white">COLOR</font></td>
                      <td><font color="white">3<br>28<br>XS</font></td>
                      <td><font color="white">5<br>30<br>S</font></td>
                      <td><font color="white">7<br>32<br>M</font></td>
                      <td><font color="white">9<br>34<br>G</font></td>
                      <td><font color="white">11<br>36<br>XL</font></td>
                      <td><font color="white">13<br>38<br>2XL</font></td>
                      <td><font color="white">15<br>40<br>3XL</font></td>
                      <td><font color="white">17<br>42</font></td>
                      <td><font color="white">19<br>44</font></td>
                      <td><font color="white">21<br>46</font></td>
                      <td><font color="white">23<br>48</font></td>
                      <td><font color="white">&nbsp;<br>50</font></td>
                      <td><font color="white">&nbsp;<br>52</font></td>
                      <td><font color="white">&nbsp;<br>VAR</font></td>
                      <td><font color="white">Total<br>
                        {{TotalPzasInv}}
                      </font></td>
                    </tr>
                    <tr ng-repeat="z in ListaCortes | orderBy:'modelo'">
                      <td>{{z.modelo}}</td>
                      <td>
                        <button type="button" class="btn btn-danger btn-xs" ng-if="edita==1" ng-click="EliminaFila(z,$index)">  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                        {{z.color}}                        
                      </td>
                      <td>
                        <span ng-if="z.tallasa.cantidad>0 && edita==0">{{z.tallasa.cantidad}}</span>
                        <input ng-if="edita==1" type="text" size="1" ng-model="z.tallasa.cantidad" ng-blur="ActualizaTotales(z)">
                      </td>
                      <td>
                        <span ng-if="z.tallasb.cantidad>0 && edita==0">{{z.tallasb.cantidad}}</span>
                        <input ng-if="edita==1" type="text" size="1" ng-model="z.tallasb.cantidad" ng-blur="ActualizaTotales(z)">
                      </td>
                      <td><span ng-if="z.tallasc.cantidad>0 && edita==0">{{z.tallasc.cantidad}}</span>
                        <input ng-if="edita==1" type="text" size="1" ng-model="z.tallasc.cantidad" ng-blur="ActualizaTotales(z)">
                      </td>
                      <td><span ng-if="z.tallasd.cantidad>0 && edita==0">{{z.tallasd.cantidad}}</span>
                        <input ng-if="edita==1" type="text" size="1" ng-model="z.tallasd.cantidad" ng-blur="ActualizaTotales(z)">
                      </td>
                      <td><span ng-if="z.tallase.cantidad>0 && edita==0">{{z.tallase.cantidad}}</span>
                        <input ng-if="edita==1" type="text" size="1" ng-model="z.tallase.cantidad" ng-blur="ActualizaTotales(z)">
                      </td>
                      <td><span ng-if="z.tallasf.cantidad>0 && edita==0">{{z.tallasf.cantidad}}</span>
                        <input ng-if="edita==1" type="text" size="1" ng-model="z.tallasf.cantidad" ng-blur="ActualizaTotales(z)">
                      </td>
                      <td><span ng-if="z.tallasg.cantidad>0 && edita==0">{{z.tallasg.cantidad}}</span>
                        <input ng-if="edita==1" type="text" size="1" ng-model="z.tallasg.cantidad">
                      </td>
                      <td><span ng-if="z.tallash.cantidad>0 && edita==0">{{z.tallash.cantidad}}</span>
                        <input ng-if="edita==1" type="text" size="1" ng-model="z.tallash.cantidad" ng-blur="ActualizaTotales(z)">
                      </td>
                      <td><span ng-if="z.tallasi.cantidad>0 && edita==0">{{z.tallasi.cantidad}}</span>
                        <input ng-if="edita==1" type="text" size="1" ng-model="z.tallasi.cantidad" ng-blur="ActualizaTotales(z)">
                      </td>
                      <td><span ng-if="z.tallasj.cantidad>0 && edita==0">{{z.tallasj.cantidad}}</span>
                        <input ng-if="edita==1" type="text" size="1" ng-model="z.tallasj.cantidad" ng-blur="ActualizaTotales(z)">
                      </td>
                      <td><span ng-if="z.tallask.cantidad>0 && edita==0">{{z.tallask.cantidad}}</span>
                        <input ng-if="edita==1" type="text" size="1" ng-model="z.tallask.cantidad" ng-blur="ActualizaTotales(z)">
                      </td>
                      <td><span ng-if="z.tallasl.cantidad>0 && edita==0">{{z.tallasl.cantidad}}</span>
                        <input ng-if="edita==1" type="text" size="1" ng-model="z.tallasl.cantidad" ng-blur="ActualizaTotales(z)">
                      </td>
                      <td><span ng-if="z.tallasm.cantidad>0 && edita==0">{{z.tallasm.cantidad}}</span>
                        <input ng-if="edita==1" type="text" size="1" ng-model="z.tallasm.cantidad" ng-blur="ActualizaTotales(z)">
                      </td>
                      <td><span ng-if="z.tallasn.cantidad>0 && edita==0">{{z.tallasn.cantidad}}</span>
                        <input ng-if="edita==1" type="text" size="1" ng-model="z.tallasn.cantidad" ng-blur="ActualizaTotales(z)">
                      </td>
                      <td>{{z.totalpiezas}}</td>
                    </tr>
                  </table>
                </div>
              </form>
            </div>




            <div ng-show="movimiento=='Codigos'">
              <h3>CÓDIGOS DE BARRAS</h3>
              <form name="formcodigos" class="form-horizontal">
                <div class="col-sm-3">
                    <label>Familia:</label>
                    <select name="modelo" class="form-control" required="" ng-model="codigo.familia" style="font-size: smaller;" ng-change="FamiliaSeleccionada(codigo.familia)">
                      <!-- <option>AGREGAR...</option> -->
                      <option ng-repeat="y in tablefamiliadisenioslist | orderBy:'familia'" value="{{y}}">{{y.familia}}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                     <label>Color:</label>
                    <select name="color" class="form-control" required="" ng-model="codigo.color" style="font-size: smaller;" ng-change="ColorSeleccionado(codigo.color)">
                        <option ng-repeat="y in tablefamiliacoloreslist | orderBy:'color'" value="{{y}}" ng-show="y.familiadisenio==famslected.familia">{{y.color}}</option>
                      </select>
                </div>
                <div class="col-sm-3">
                    <br>
                    <button class="btn btn-primary" ng-click="BtnVerCodigos(codigo)">Ver códigos</button>
                </div><br>
                <div class="col-sm-12" ng-show="ListaCodigosBarras.length>0">
                    <ul ng-repeat="x in ListaCodigosBarras">
                        <li>
                            {{x.familia}} - {{x.color}} - {{x.talla}} 
                            <br>
                            <angular-barcode ng-model="x.codigobarras" bc-options="opciones" bc-class="barcode" bc-type="canvas">
                            </angular-barcode><br><br>
                        </li>
                    </ul>   
                </div>       
              </form>
            </div>


            <div ng-show="movimiento=='Reportes'">
              <h3>REPORTES</h3>
              <form name="formreportes" class="form-horizontal">
                <div class="form-group has-success">
                  <label class="col-sm-1">Fecha inicio:</label>
                  <div class="col-sm-2">
                    <input type="date" class="form-control" ng-model="fechareporte.fechaini">
                  </div>

                  <label class="col-sm-1">Fecha fin:</label>
                  <div class="col-sm-2">
                    <input type="date" class="form-control" ng-model="fechareporte.fechafin">
                  </div>

                  <label class="col-sm-1">Familias:</label>
                  <div class="col-sm-2">
                    <select name="familia" class="form-control" required="" ng-model="familia">
                      <option>TODAS</option>
                      <option ng-repeat="a in tablefamiliadisenioslist">{{a.familia}}</option>
                    </select>
                  </div>

                  <div class="col-sm-1">
                    <label>Colores:
                      <input type="checkbox" ng-model="ColorFamilia">
                      {{ColorFamilia}}
                    </label>
                  </div>
                  <div class="col-sm-1">
                    <button class="btn btn-primary form-group" ng-click="BtnBuscaSalidas()">Buscar</button>
                  </div>
                  <br><br><br>
                </div> 
                

                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-striped">
                      <tr style="background-color: #5882FA;">
                        <td><font color="white">FECHA<br>Del {{fechareporte.fechaini | date:'dd-MMM-yyyy'}} al {{fechareporte.fechafin | date:'dd-MMM-yyyy'}}</font></td>
                        <td><font color="white">3<br>28<br>XS</font></td>
                        <td><font color="white">5<br>30<br>S</font></td>
                        <td><font color="white">7<br>32<br>M</font></td>
                        <td><font color="white">9<br>34<br>G</font></td>
                        <td><font color="white">11<br>36<br>XL</font></td>
                        <td><font color="white">13<br>38<br>2XL</font></td>
                        <td><font color="white">15<br>40<br>3XL</font></td>
                        <td><font color="white">17<br>42</font></td>
                        <td><font color="white">19<br>44</font></td>
                        <td><font color="white">21<br>46</font></td>
                        <td><font color="white">23<br>48</font></td>
                        <td><font color="white">&nbsp;<br>50</font></td>
                        <td><font color="white">&nbsp;<br>52</font></td>
                        <td><font color="white">&nbsp;<br>VAR</font></td>
                        <td><font color="white">&nbsp;<br>Total<br></font></td>
                      </tr>
                      <tr ng-repeat="z in listasalidasrutas" ng-if="z.totalpiezas>0">
                        <td>{{z.familia}}</td>
                        <td><span ng-if="z.tallasa.cantidad>0">{{z.tallasa.cantidad}}</span></td>
                        <td><span ng-if="z.tallasb.cantidad>0">{{z.tallasb.cantidad}}</span></td>
                        <td><span ng-if="z.tallasc.cantidad>0">{{z.tallasc.cantidad}}</span></td>
                        <td><span ng-if="z.tallasd.cantidad>0">{{z.tallasd.cantidad}}</span></td>
                        <td><span ng-if="z.tallase.cantidad>0">{{z.tallase.cantidad}}</span></td>
                        <td><span ng-if="z.tallasf.cantidad>0">{{z.tallasf.cantidad}}</span></td>
                        <td><span ng-if="z.tallasg.cantidad>0">{{z.tallasg.cantidad}}</span></td>
                        <td><span ng-if="z.tallash.cantidad>0">{{z.tallash.cantidad}}</span></td>
                        <td><span ng-if="z.tallasi.cantidad>0">{{z.tallasi.cantidad}}</span></td>
                        <td><span ng-if="z.tallasj.cantidad>0">{{z.tallasj.cantidad}}</span></td>
                        <td><span ng-if="z.tallask.cantidad>0">{{z.tallask.cantidad}}</span></td>
                        <td><span ng-if="z.tallasl.cantidad>0">{{z.tallasl.cantidad}}</span></td>
                        <td><span ng-if="z.tallasm.cantidad>0">{{z.tallasm.cantidad}}</span></td>
                        <td><span ng-if="z.tallasn.cantidad>0">{{z.tallasn.cantidad}}</span></td>
                        <td>{{z.totalpiezas}}</td>
                      </tr>
                      <tr>
                        <td bgcolor="white"></td>
                        <td bgcolor="white"></td>
                        <td bgcolor="white"></td>
                        <td bgcolor="white"></td>
                        <td bgcolor="white"></td>
                        <td bgcolor="white"></td>
                        <td bgcolor="white"></td>
                        <td bgcolor="white"></td>
                        <td bgcolor="white"></td>
                        <td bgcolor="white"></td>
                        <td bgcolor="white"></td>
                        <td bgcolor="white"></td>
                        <td bgcolor="white"></td>
                        <td bgcolor="white"></td>
                        <td bgcolor="white"></td>
                        <td bgcolor="black"><font color="white">{{totalsalidasrutas}}</font></td>
                      </tr>
                    </table>

                </div>


                <div class="table-responsive">
                  <table ng-repeat="a in pruebamodelos" class="table-bordered table-condensed" ng-class="{'SKINNY':'basicolist'}[a[0].modelo]">
                    <tr style="background-color: black;">
                      <td colspan="2"><font color="white">{{a[0].modelo}}</font></td>
                    </tr>
                    <tr style="background-color: black;">
                      <td width="100"><font color="white">COLOR</font></td>
                      <td width="100"><font color="white">CANTIDAD</font></td>
                    </tr>
                    <tr ng-repeat="b in a | orderBy:'color'">
                      <td ng-class="{'BASICO':'basicolist'}[b.modelo]">{{b.color}}</td>
                      <td ng-class="{'BASICO':'basicolist'}[b.modelo]">{{b.totpiezas}}</td>
                    </tr>
                    <tr style="background-color: black;">
                      <td><font color="white">TOTAL</font></td>
                      <td><font color="white">{{ getTotal(a) }}</font></td>
                    </tr>
                  </table>
                </div>



              </form>  
            </div>





            <!-- Modal Agrega Proveedor-->
            <div class="modal fade" id="AgregaProveedorModal" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">Agregar Nuevo Proveedor</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form name="formproveedor" class="form-horizontal" style="font-size: small">
                      <div class="form-group has-success">
                          <label class="col-sm-2">Nombre:</label>
                          <div class="col-sm-10">
                              <input type="text" name="empresa" class="form-control" ng-model="proveedor.empresa" placeholder="Ingresa el nombre de la empresa" required="" ng-minlength="5" ng-maxlength="150">
                              <div id="errorempresa" ng-show="formproveedor.$submitted || formproveedor.empresa.$touched">
                                  <span ng-show="formproveedor.empresa.$error.required" class="msg-error">El campo de empresa no puede estar vacío.</span>
                                  <span ng-show="formproveedor.empresa.$error.minlength" class="msg-error">El nombre de la empresa debe contener al menos 5 caracteres.</span>
                                  <span ng-show="formproveedor.empresa.$error.maxlength" class="msg-error">El nombre de la empresa debe contener máximo 150 caracteres.</span>
                              </div>
                          </div>
                      </div>
                      <div class="form-group has-success">
                          <label class="col-sm-2">Notas:</label>
                          <div class="col-sm-10">
                              <textarea name="notas" class="form-control" ng-model="proveedor.notas" placeholder="Ingresa notas del proveedor" required="" ng-minlength="5" ng-maxlength="150" rows="3"></textarea>
                              <div id="errornotas" ng-show="formproveedor.$submitted || formproveedor.notas.$touched">
                                  <span ng-show="formproveedor.notas.$error.required" class="msg-error">El campo de notas no puede estar vacío.</span>
                                  <span ng-show="formproveedor.notas.$error.minlength" class="msg-error">Las notas deben contener al menos 5 caracteres.</span>
                                  <span ng-show="formproveedor.notas.$error.maxlength" class="msg-error">Las notas deben contener máximo 150 caracteres.</span>
                              </div>
                          </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" ng-disabled="!formproveedor.$valid" ng-click="GuardarProveedor(proveedor)">Guardar Proveedor</button>
                  </div>
                </div>
              </div>
            </div>


            <!-- Modal Agrega Cliente-->
            <div class="modal fade" id="AgregaClienteModal" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">Agregar Nuevo Cliente</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form name="formcliente" class="form-horizontal" style="font-size: small">
                      <div class="form-group has-success">
                          <label class="col-sm-2">Nombre:</label>
                          <div class="col-sm-10">
                              <input type="text" name="nombre" class="form-control" ng-model="cliente.nombre" placeholder="Ingresa el nombrel cliente" required="" ng-minlength="5" ng-maxlength="150">
                              <div id="errornombre" ng-show="formcliente.$submitted || formcliente.nombre.$touched">
                                  <span ng-show="formcliente.nombre.$error.required" class="msg-error">El campo de nombre del cliente no puede estar vacío.</span>
                                  <span ng-show="formcliente.nombre.$error.minlength" class="msg-error">El nombre del cliente debe contener al menos 5 caracteres.</span>
                                  <span ng-show="formcliente.nombre.$error.maxlength" class="msg-error">El nombre del cliente debe contener máximo 150 caracteres.</span>
                              </div>
                          </div>
                      </div>
                      <div class="form-group has-success">
                          <label class="col-sm-2">Notas:</label>
                          <div class="col-sm-10">
                              <textarea name="notas" class="form-control" ng-model="cliente.notas" placeholder="Ingresa notas del cliente" required="" ng-minlength="5" ng-maxlength="150" rows="3"></textarea>
                              <div id="errornotas" ng-show="formcliente.$submitted || formcliente.notas.$touched">
                                  <span ng-show="formcliente.notas.$error.required" class="msg-error">El campo de notas no puede estar vacío.</span>
                                  <span ng-show="formcliente.notas.$error.minlength" class="msg-error">Las notas deben contener al menos 5 caracteres.</span>
                                  <span ng-show="formcliente.notas.$error.maxlength" class="msg-error">Las notas deben contener máximo 150 caracteres.</span>
                              </div>
                          </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" ng-disabled="!formcliente.$valid" ng-click="GuardarCliente(cliente)">Guardar Cliente</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal Agrega Modelo-Diseño-->
            <div class="modal fade" id="AgregaModeloModal" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">Agregar Nuevo Modelo-Diseño</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form name="formmodelo" class="form-horizontal" style="font-size: small">
                      <div class="form-group has-success">
                          <label class="col-sm-2">Modelo:</label>
                          <div class="col-sm-10">
                              <input type="text" name="familia" class="form-control" ng-model="modelo.familia" placeholder="Ingresa el nombre de la familia" required="" ng-minlength="3" ng-maxlength="20">
                              <div id="errornombre" ng-show="formmodelo.$submitted || formmodelo.familia.$touched">
                                  <span ng-show="formmodelo.familia.$error.required" class="msg-error">El campo de modelo no puede estar vacío.</span>
                                  <span ng-show="formmodelo.familia.$error.minlength" class="msg-error">El modelo debe contener al menos 3 caracteres.</span>
                                  <span ng-show="formmodelo.familia.$error.maxlength" class="msg-error">El modelo debe contener máximo 20 caracteres.</span>
                              </div>
                          </div>
                      </div>

                      <div class="form-group has-success">
                          <label class="col-sm-2">Sexo:</label>
                          <div class="col-sm-10">
                              <label>
                                <input type="radio" ng-model="modelo.sexo" value="HOMBRE">
                                Hombre
                              </label><br/>
                              <label>
                                <input type="radio" ng-model="modelo.sexo" value="MUJER">
                                Mujer
                              </label>
                          </div>
                      </div>


                      <div class="form-group has-success">
                          <label class="col-sm-2">Tipo Tallas:</label>
                          <div class="col-sm-10">
                              <label>
                                <input type="radio" ng-model="modelo.tipotalla" value="TALLAS MUJER">
                                3 a 23
                              </label><br/>
                              <label>
                                <input type="radio" ng-model="modelo.tipotalla" value="TALLAS HOMBRE">
                                28 a 52
                              </label><br/>
                              <label>
                                <input type="radio" ng-model="modelo.tipotalla" value="TALLAS VARIAS">
                                XS a 3XL
                              </label>
                          </div>
                      </div>


                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" ng-disabled="!formmodelo.$valid" ng-click="GuardarModelo(modelo)">Guardar Modelo</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal Agrega Color-->
            <div class="modal fade" id="AgregaColorModal" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">Agregar Nuevo Color</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form name="formcolor" class="form-horizontal" style="font-size: small">
                      <div class="form-group has-success">
                          <label class="col-sm-2">Color:</label>
                          <div class="col-sm-10">
                              <input type="text" name="color" class="form-control" ng-model="color.color" placeholder="Ingresa el nombre del color" required="" ng-minlength="3" ng-maxlength="20">
                              <div id="errorcolor" ng-show="formcolor.$submitted || formcolor.color.$touched">
                                  <span ng-show="formcolor.color.$error.required" class="msg-error">El campo de color no puede estar vacío.</span>
                                  <span ng-show="formcolor.color.$error.minlength" class="msg-error">El color debe contener al menos 3 caracteres.</span>
                                  <span ng-show="formcolor.color.$error.maxlength" class="msg-error">El color debe contener máximo 20 caracteres.</span>
                              </div>
                          </div>
                      </div>
                      <div class="form-group has-success">
                          <label class="col-sm-2">Familia:</label>
                          <div class="col-sm-10">
                              <select name="familiadisenio" class="form-control" required="" ng-model="color.familiadisenio" required="">
                                <option ng-repeat="y in tablefamiliadisenioslist | orderBy:'familia'" value="{{y.familia}}">{{y.familia}}</option>
                              </select>
                             
                              <div id="errorfamiliadisenio" ng-show="formcolor.$submitted || formcolor.familiadisenio.$touched">
                                  <span ng-show="formcolor.familiadisenio.$error.required" class="msg-error">El campo de familia no puede estar vacío.</span>                                  
                              </div>
                          </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" ng-disabled="!formcolor.$valid" ng-click="GuardarColor(color)">Guardar Color</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal Agrega Ruta-->
            <div class="modal fade" id="AgregaRutaModal" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">Agregar Nueva Ruta</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form name="formruta" class="form-horizontal" style="font-size: small">
                      <div class="form-group has-success">
                          <label class="col-sm-2">Nombre Ruta:</label>
                          <div class="col-sm-10">
                              <input type="text" name="nombre" class="form-control" ng-model="ruta.nombre" placeholder="Ingresa el nombre de la ruta" required="" ng-minlength="4" ng-maxlength="20">
                              <div id="errornombre" ng-show="formruta.$submitted || formruta.nombre.$touched">
                                  <span ng-show="formruta.nombre.$error.required" class="msg-error">El campo de nombre de la ruta no puede estar vacío.</span>
                                  <span ng-show="formruta.nombre.$error.minlength" class="msg-error">El nombre de la ruta debe contener al menos 4 caracteres.</span>
                                  <span ng-show="formruta.nombre.$error.maxlength" class="msg-error">El nombre de la ruta debe contener máximo 20 caracteres.</span>
                              </div>
                          </div>
                      </div>
                      <div class="form-group has-success">
                          <label class="col-sm-2">Notas:</label>
                          <div class="col-sm-10">
                              <textarea name="notas" class="form-control" ng-model="ruta.notas" placeholder="Ingresa notas de la ruta" required="" ng-minlength="5" ng-maxlength="150" rows="3"></textarea>
                              <div id="errornotas" ng-show="formruta.$submitted || formruta.notas.$touched">
                                  <span ng-show="formruta.notas.$error.required" class="msg-error">El campo de notas no puede estar vacío.</span>
                                  <span ng-show="formruta.notas.$error.minlength" class="msg-error">Las notas deben contener al menos 5 caracteres.</span>
                                  <span ng-show="formruta.notas.$error.maxlength" class="msg-error">Las notas deben contener máximo 150 caracteres.</span>
                              </div>
                          </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" ng-disabled="!formruta.$valid" ng-click="GuardarRuta(ruta)">Guardar Ruta</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal Agrega Plaza Ruta-->
            <div class="modal fade" id="AgregaPlazaRutaModal" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">Agregar Nueva Plaza</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form name="formplazaruta" class="form-horizontal" style="font-size: small">
                      <div class="form-group has-success">
                          <label class="col-sm-2">Nombre Plaza:</label>
                          <div class="col-sm-10">
                              <input type="text" name="nombre" class="form-control" ng-model="plazaruta.nombre" placeholder="Ingresa el nombre de la ruta" required="" ng-minlength="4" ng-maxlength="20">
                              <div id="errornombre" ng-show="formplazaruta.$submitted || formplazaruta.nombre.$touched">
                                  <span ng-show="formplazaruta.nombre.$error.required" class="msg-error">El campo de nombre de la plaza no puede estar vacío.</span>
                                  <span ng-show="formplazaruta.nombre.$error.minlength" class="msg-error">El nombre de la plaza debe contener al menos 4 caracteres.</span>
                                  <span ng-show="formplazaruta.nombre.$error.maxlength" class="msg-error">El nombre de la plaza debe contener máximo 20 caracteres.</span>
                              </div>
                          </div>
                      </div>
                      <div class="form-group has-success">
                          <label class="col-sm-2">Notas:</label>
                          <div class="col-sm-10">
                              <textarea name="notas" class="form-control" ng-model="plazaruta.notas" placeholder="Ingresa notas de la ruta" required="" ng-minlength="5" ng-maxlength="150" rows="3"></textarea>
                              <div id="errornotas" ng-show="formplazaruta.$submitted || formplazaruta.notas.$touched">
                                  <span ng-show="formplazaruta.notas.$error.required" class="msg-error">El campo de notas no puede estar vacío.</span>
                                  <span ng-show="formplazaruta.notas.$error.minlength" class="msg-error">Las notas deben contener al menos 5 caracteres.</span>
                                  <span ng-show="formplazaruta.notas.$error.maxlength" class="msg-error">Las notas deben contener máximo 150 caracteres.</span>
                              </div>
                          </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" ng-disabled="!formplazaruta.$valid" ng-click="GuardarPlazaRuta(plazaruta)">Guardar Plaza</button>
                  </div>
                </div>
              </div>
            </div>


            <!-- Modal de confirmación para eliminar la fila del inventario final -->
            <div class="modal fade" id="EliminaFilaDelInventarioFinal" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">Eliminar Corte del Inventario</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form name="formplazaruta" class="form-horizontal" style="font-size: small">
                      <div class="form-group has-success">
                          <label class="col-sm-12">¿Estas seguro que quieres eliminar el siguiente corte del inventario?:</label>
                          <div class="col-sm-10">
                            <ul>
                              <li>Modelo : {{CorteSeleccionadoAEliminar.modelo}}</li>
                              <li>Color : {{CorteSeleccionadoAEliminar.color}}</li>
                              <li>Total de Piezas : {{CorteSeleccionadoAEliminar.totalpiezas}}</li>
                            </ul>
                          </div>                          
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" ng-click="EliminaCorte()">Eliminar</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal de confirmación para guardar inventario final -->
            <div class="modal fade" id="GuardaInventarioFinal" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">Guarda Inventario Final</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form name="formplazaruta" class="form-horizontal" style="font-size: small">
                      <div class="form-group has-success">
                          <label class="col-sm-12">Ingresa el mes del Inventario Final</label>
                          <div class="col-sm-4">
                            <input type="month" class="form-control" ng-model="FechaInventarioFinal">
                          </div>                          
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" ng-click="ConfirmaGuardaInventarioFinal(FechaInventarioFinal)">Guardar</button>
                  </div>
                </div>
              </div>
            </div>










            <hr>           
            <div class="copyrights" align="center">
               <p>© 2022 BOSTON CORP. All Rights Reserved</p>
            </div>              
          </div> 

      </div>

  
      <script src="app/scripts/bootstrap.min.js"></script> 
      <script src="app/scripts/angular.min.js"></script>

      <script src="app/scripts/angular-filter.js"></script>


      <script src="app/scripts/firebase.js"></script>
      <script src="app/scripts/angular-barcode.js"></script>
      
      <script src="app/scripts/angular-locale_es-mx.js"></script> 
      <script src="app/scripts/angular-animate.min.js"></script>  
      <script src="app/scripts/angular-route.js"></script>  
      <script src="app/scripts/angular-local-storage.min.js"></script>
      <script src="app/BostonAlmacenApp.js"></script>

      <script src="app/scripts/angular-ui.js"></script>
      <script src="app/scripts/ui-bootstrap-tpls-2.5.0.js"></script>
      <script src="app/scripts/ng-table.js"></script>
      <script src="app/scripts/toaster.js"></script>
      <script src="app/scripts/angular-spinner.min.js"></script>
      <script src="app/scripts/angular-loading-spinner.js"></script>
      <script src="app/scripts/spin.js"></script>

      <script src="app/scripts/FileSaver.js"></script>
      <script src="app/scripts/Blob.js"></script>
      <script src="app/scripts/html2canvas2020.js"></script>
      <script src="app/scripts/pdfmake.min.js"></script>
      <script src="app/scripts/highcharts.js"></script>
      <script src="app/scripts/exporting.js"></script>

      <script src="app/scripts/angularfire.min.js"></script>
      <script src="app/scripts/ng-file-upload.min.js"></script>
      <script src="app/scripts/xlsx.full.min.js"></script>

      <script src="app/controllers/AlmacenAdministracionController_8.js"></script>

    </body>

</html>