h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #0080FF;
    margin-top: 0;
}

h1 {
    font-size: 36px;
    line-height: 130%;
    margin-bottom: 25px;
}

h2 {
    font-size: 30px;
    line-height: 130%;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 15px;
}

h4 {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 15px;
}

h5 {
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 13px;
}

h6 {
    font-size: 12px;
    line-height: 160%;
    margin-bottom: 10px;
}

a {
    color: inherit;
    font-family: Helvetica;
}

.msg-block {
    margin-top:5px;
}
.msg-error {
    color:#F00;
    font-size:14px;
}

.nav-tabs > li > a {
    border: 1px solid #ddd;
    background-color: #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #A9D0F5;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.cargando {
width: 100%;height: 100%;
overflow: hidden; 
top: 0px;
left: 0px;
z-index: 10000;
text-align: center;
position:fixed; 
background-color: #FFFFFF;
opacity:0.6;
filter:alpha(opacity=40);
}

.entradaslist {
    background-color: #B9FFB7;
}

.salidaslist {
    background-color: #FFB7B7;
}

.basicolist {
    background-color: #FFB7B7;
}