<div ng-controller="CargaInventarioRutasCtrl">
	<h4>Carga inventario RUTAS</h4><br>


        <input type="file" ngf-select="SelectFile($file)" />
        <input type="button" value="Upload" ng-click="Upload()" />
        <button class="btn btn-success" ng-click="registraenalmacen()">Agregar en la BD</button>
        <hr />
        <table id="tblCustomers" ng-show="IsVisible" class="table table-condensed table-striped table-bordered" style="font-size: x-small;">
            <tr>
                <th>AÑO</th>
                <th>CLAVE MOVIMIENTO</th>
                <th>COLOR</th>
                <th>CORTE</th>
                <th>COSTO UNITARIO</th>
                <th>DESCRIPCION</th>
                <th>DESCRIPCION MOVIMIENTO</th>
                <th>DESCRIPCION PROVEEDOR</th>
                <th>ES RUTA</th>
                <th>FAMILIA</th>
                <th>SUBFAMILIA</th>
                <th>FECHA</th>
                <th>FECHA REGISTRO ALMACEN</th>
                <th>FOLIO</th>
                <th>IDCORTE</th>
                <th>IDPROVEEDOR</th>
                <th>LAVADOALIAS</th>
                <th>LAVADOTIPO</th>

                <th>listadotallas</th>
                <th>listadotallasvendidas</th>
                <th>listadotallasdevueltas</th>
                <th>listadotallasoriginal</th>

                <th>MODELO</th>
                <th>MOVIMIENTO</th>
                <th>observaciones</th>
                <th>pzasoriginal</th>
                <th>ruta</th>

                <th>totalpiezasdevueltas</th>
                <th>totalpiezasvendidas</th>
                <th>totalpiezasoriginal</th>

                <th>TOTAL</th>
            </tr>
            <tbody ng-repeat="m in Customers">
                <tr>
                    <td>{{m.anio}}</td>
                    <td>{{m.clavemovimiento}}</td>
                    <td>{{m.color}}</td>
                    <td>{{m.corte}}</td>
                    <td>{{m.costounitario}}</td>
                    <td>{{m.descripcion}}</td>
                    <td>{{m.descripcionmovimiento}}</td>
                    <td>{{m.descripcionproveedor}}</td>
                    <td>{{m.esruta}}</td>
                    <td>{{m.familia}}</td>
                    <td>{{m.subfamilia}}</td>
                    <td>{{m.fecha}}</td>
                    <th>{{m.fecharegistroalmacen}}</th>
                    <td>{{m.folio}}</td>
                    <td>{{m.idcorte}}</td>
                    <td>{{m.idproveedor}}</td>
                    <td>{{m.lavadoalias}}</td>
                    <td>{{m.lavadotipo}}</td>
                    
                    <td>{{m.listadotallas}}</td>
                    <td>{{m.listadotallasvendidas}}</td>
                    <td>{{m.listadotallasdevueltas}}</td>
                    <td>{{m.listadotallasoriginal}}</td>

                    <td>{{m.modelo}}</td>
                    <td>{{m.movimiento}}</td>
                    <td>{{m.observaciones}}</td>
                    <td>{{m.pzasoriginal}}</td>
                    <td>{{m.ruta}}</td>

                    <td>{{m.totalpiezasdevueltas}}</td>
                    <td>{{m.totalpiezasvendidas}}</td>
                    <td>{{m.totalpiezasoriginal}}</td>
                        
                    <td>{{m.totalpiezas}}</td>                   
                </tr>
            </tbody>
        </table>
		
	<!-- </form> -->
</div>