<div ng-controller="CargaInventarioCtrl">
	<h4>Carga inventario</h4><br>
	<!-- <form name="forminicial" class="form-horizontal">
		<div class="form-group has-success">
            <label class="col-sm-2">Número de corte:</label>
            <div class="col-sm-4">
                <input type="text" name="corte" class="form-control" ng-model="modeloaguardar.corte" placeholder="Ingresa el corte.">           
            </div>
                        <label class="col-sm-2">Familia:</label>
            <div class="col-sm-4">
                <input type="text" name="familia" class="form-control" ng-model="modeloaguardar.familia" placeholder="Ingresa la familia. AMC   AMD   BASICO">           
            </div>
        </div>



        <div class="form-group has-success">
            <label class="col-sm-2">Color:</label>
            <div class="col-sm-4">
                <input type="text" name="color" class="form-control" ng-model="modeloaguardar.color" placeholder="Ingresa el color.">           
            </div>
            <label class="col-sm-2">Descripción:</label>
            <div class="col-sm-4">
                <input type="text" name="descripcion" class="form-control" ng-model="modeloaguardar.descripcion" placeholder="Ingresa la descripcion, pantalon, chamarra, etc.">           
            </div>
        </div>


        <div class="form-group has-success">
            <label class="col-sm-2">Piezas Original:</label>
            <div class="col-sm-4">
                <input type="text" name="pzasoriginal" class="form-control" ng-model="modeloaguardar.pzasoriginal" placeholder="Ingresa las piezas original.">           
            </div>
            <label class="col-sm-2">Costo Unitario:</label>
            <div class="col-sm-4">
                <input type="text" name="costounitario" class="form-control" ng-model="modeloaguardar.costounitario" placeholder="Ingresa el costo unitario.">           
            </div>
        </div>



        <div class="form-group has-success">
            <label class="col-sm-2">Talla:</label>
            <div class="col-sm-2">
                <input type="text" name="descripcion" class="form-control" ng-model="talla" placeholder="Ingresa la talla">           
            </div>
            <label class="col-sm-2">Cantidad:</label>
            <div class="col-sm-2">
                <input type="number" name="descripcion" class="form-control" ng-model="cantidad" placeholder="Ingresa la cantidad">           
            </div>
            <div class="col-sm-2">
            	<button type="button" class="btn btn-success" ng-click="AgregaTalla()">Agregar</button>
            </div>
            <div class="col-sm-2">
            	TOTAL : <span><label>{{total}}</label> pzas</span>
            </div>
        </div>

        <div class="form-group has-success">
        	<table class="table table-condensed table-striped table-bordered">
        		<tr>
        			<th>Talla</th>
        			<th>Cantidad</th>
        		</tr>
      			<tr ng-repeat="x in listatallas">
      				<td><input type="text" ng-model="x.talla">{{x.talla}}</td>
      				<td><input type="number" ng-model="x.cantidad">{{x.cantidad}}</td>
      			</tr>
        	</table>
        </div>

        <div class="form-group has-success">
        	<div class="col-sm-12" align="center">
        		<button class="btn btn-success" ng-click="guardaenalmacen()">Agregar al almacén</button>
        	</div>
        </div> -->

        <input type="file" ngf-select="SelectFile($file)" />
        <input type="button" value="Upload" ng-click="Upload()" />
        <button class="btn btn-success" ng-click="registraenalmacen()">Agregar en la BD</button>
        <hr />
        <table id="tblCustomers" ng-show="IsVisible" class="table table-condensed table-striped table-bordered" style="font-size: x-small;">
            <tr>
                <th>AÑO</th>
                <th>CLAVE MOVIMIENTO</th>
                <th>COLOR</th>
                <th>CORTE</th>
                <th>COSTO UNITARIO</th>
                <th>DESCRIPCION</th>
                <th>DESCRIPCION MOVIMIENTO</th>
                <th>DESCRIPCION PROVEEDOR</th>
                <th>ES RUTA</th>
                <th>FAMILIA</th>
                <th>SUBFAMILIA</th>
                <th>FECHA</th>
                <th>FECHA REGISTRO ALMACEN</th>
                <th>FOLIO</th>
                <th>IDCORTE</th>
                <th>IDPROVEEDOR</th>
                <th>LAVADOALIAS</th>
                <th>LAVADOTIPO</th>
                <th>listadotallas</th>
                <th>listadotallaslavado</th>
                <th>listadotallasmaquila</th>
                <th>listadotallasoperaciones</th>
                <th>listadotallassaldo</th>
                <th>MODELO</th>
                <th>MOVIMIENTO</th>
                <th>observaciones</th>
                <th>pzasoriginal</th>
                <th>ruta</th>
                <th>totalpiezascomplavado</th>
                <th>totalpiezascompmaquila</th>
                <th>totalpiezasexistencia</th>
                <th>totalpiezasingresadas</th>
                <th>totalpiezassaldo</th>

<!--                 <th>3</th>
                <th>5</th>
                <th>7</th>
                <th>9</th>
                <th>11</th>
                <th>13</th>
                <th>15</th>
                <th>17</th>
                <th>19</th> -->
                <th>TOTAL</th>
            </tr>
            <tbody ng-repeat="m in Customers">
                <tr>
                    <td>{{m.anio}}</td>
                    <td>{{m.clavemovimiento}}</td>
                    <td>{{m.color}}</td>
                    <td>{{m.corte}}</td>
                    <td>{{m.costounitario}}</td>
                    <td>{{m.descripcion}}</td>
                    <td>{{m.descripcionmovimiento}}</td>
                    <td>{{m.descripcionproveedor}}</td>
                    <td>{{m.esruta}}</td>
                    <td>{{m.familia}}</td>
                    <td>{{m.subfamilia}}</td>
                    <td>{{m.fecha}}</td>
                    <th>{{m.fecharegistroalmacen}}</th>
                    <td>{{m.folio}}</td>
                    <td>{{m.idcorte}}</td>
                    <td>{{m.idproveedor}}</td>
                    <td>{{m.lavadoalias}}</td>
                    <td>{{m.lavadotipo}}</td>
                    <td>{{m.listadotallas}}</td>
                    <td>{{m.listadotallaslavado}}</td>
                    <td>{{m.listadotallasmaquila}}</td>
                    <td>{{m.listadotallasoperaciones}}</td>
                    <td>{{m.listadotallassaldo}}</td>
                    <td>{{m.modelo}}</td>
                    <td>{{m.movimiento}}</td>
                    <td>{{m.observaciones}}</td>
                    <td>{{m.pzasoriginal}}</td>
                    <td>{{m.ruta}}</td>
                    <td>{{m.totalpiezascomplavado}}</td>
                    <td>{{m.totalpiezascompmaquila}}</td>
                    <td>{{m.totalpiezasexistencia}}</td>
                    <td>{{m.totalpiezasingresadas}}</td>
                    <td>{{m.totalpiezassaldo}}</td>

     <!--                <td>{{m.Talla3}}</td>
                    <td>{{m.Talla5}}</td>
                    <td>{{m.Talla7}}</td>
                    <td>{{m.Talla9}}</td>
                    <td>{{m.Talla11}}</td>
                    <td>{{m.Talla13}}</td>
                    <td>{{m.Talla15}}</td>
                    <td>{{m.Talla17}}</td>
                    <td>{{m.Talla19}}</td>  -->                           
                    <td>{{m.totalpiezas}}</td>                   
                </tr>
            </tbody>
        </table>
		
	<!-- </form> -->
</div>