<div align="center" ng-controller="AlmacenEntradasCtrl">
	<h2>Entradas almacén</h2>
	<form name="formalmacenentrada" class="form-horizontal">
		<div class="form-group has-success">
	        
	        <div class="col-sm-2">
		       	<label>Fecha:</label>
	            <input type="date" name="fecha" class="form-control" ng-model="entrada.fecha" required="" >
	        </div>
	        <div class="col-sm-1">
		       	<label>Folio:</label>
	            <input type="text" name="folio" class="form-control" ng-model="entrada.folio" required="" >
	        </div>
	        
	        <div class="col-sm-3">
	        	<label>Clave movimientos:</label>
	            <select name="cvemovimientos" class="form-control" required="" ng-model="entrada.cvemovimientos" ng-change="CambiaClaveMovimiento(entrada.cvemovimientos)" style="font-size: x-small;">
                    <option ng-show="z.Tipo == 'Entrada'" ng-repeat="z in movimientoslist" value="{{z}}">{{z.Descripcion}}</option>
                </select>
	        </div>

	         <div class="col-sm-3" ng-show="cvemovimientoselect=='05'">
	        	<label>Selecciona almacén:</label>
	            <select name="tipoalmacen" class="form-control" required="" ng-model="entrada.tipoalmacen" style="font-size: x-small;">
                    <option ng-repeat="z1 in opcioneslist" value="{{z1}}">{{z1}}</option>
                </select>
	        </div>
	       
	        <div class="col-sm-3" ng-show="cvemovimientoselect=='01'">
	        	<label>Clave proveedor producto terminado:</label>
	           	<select name="cveproveedor" class="form-control" required="" ng-model="entrada.cveproveedor" style="font-size: x-small;">
                    <option ng-repeat="y in listaproveedoresentrada" value="{{y}}">{{y.empresa}}</option>
                </select>
	        </div>

	        <div class="col-sm-3" ng-show="cvemovimientoselect=='03'">
	        	<label>Clave proveedor devolución cliente:</label>
	           	<select name="cveproveedor" class="form-control" required="" ng-model="entrada.cveproveedor" style="font-size: x-small;">
                    <option ng-repeat="y in clienteslist" value="{{y}}">{{y.descripcion}}</option>
                </select>
	        </div>

	         <div class="col-sm-3" ng-show="cvemovimientoselect=='05' && entrada.tipoalmacen=='CONFECCION'">
	        	<label>Clave proveedor traspaso almacen:</label>
	           	<select name="cveproveedor" class="form-control" required="" ng-model="entrada.cveproveedor" style="font-size: x-small;">
                    <option ng-repeat="y in proveedorconfeccionlist" value="{{y}}">{{y.empresa}}</option>
                </select>
	        </div>

	        <div class="col-sm-3" ng-show="cvemovimientoselect=='05' && entrada.tipoalmacen=='LAVADO'">
	        	<label>Clave proveedor traspaso almacen:</label>
	           	<select name="cveproveedor" class="form-control" required="" ng-model="entrada.cveproveedor" style="font-size: x-small;">
                    <option ng-repeat="y in proveedorlavadolist" value="{{y}}">{{y.empresa}}</option>
                </select>
	        </div>

	    </div><hr/>
	    <div class="form-group has-success">
	    	<label class="col-sm-1">Descripción:</label>
	        <div class="col-sm-2">
	        	<select name="descripcion" class="form-control" required="" ng-model="entrada.descripcion" style="font-size: x-small;">
                    <option ng-repeat="x in descripcionlist" value="{{x.Descripcion}}">{{x.Descripcion}}</option>
                </select>
	        </div>
	        <label class="col-sm-1">Corte:</label>
	        <div class="col-sm-7">
             	<input type="text" style="font-size:smaller" ng-model="entrada.corte" 
                 uib-typeahead="corte.numcorte + ' ( Familia: ' + corte.familia + ' ) ' + ' ( Modelo: ' + corte.modelo + ' ) ' + ' ( Color: ' + corte.colordis + ' )' for corte in corteslist | filter:$viewValue | limitTo:8"
                 typeahead-editable="false" 
                 typeahead-on-select="onSelect($item)"
                 class="form-control" 
                 placeholder="Introduce el número de corte." value="corte">
                 
	        </div>
	        <div class="col-sm-1">
	        	<button type="button" class="btn btn-primary" ng-click="Limpia()">Limpiar</button>
	        </div>
	       <!--  <label class="col-sm-1">Modelo:</label>
	        <div class="col-sm-2">
	            <select name="modelo" class="form-control" required="" ng-model="entrada.modelo" style="font-size: x-small;">
                    <option ng-repeat="w in modeloslist" value="{{w.Descripcion}}">{{w.Descripcion}}</option>
                </select>
	        </div>
	        <label class="col-sm-1">Color:</label>
	        <div class="col-sm-2">
	        	<select name="color" class="form-control" required="" ng-model="entrada.color" style="font-size: x-small;">
                    <option ng-repeat="v in coloreslist" value="{{v.Descripcion}}">{{v.Descripcion}}</option>
                </select>
	        </div> -->
	    </div><hr/>
	    <div class="form-group has-success" ng-show="TallasDama">
	    	<div class="col-sm-12 table-responsive">
	    		<table class="table table-bordered table-condensed table-striped">
	    			<tr>
	    				<th colspan="9">Tallas Dama</th>
	    				<th colspan="3">Otros</th>
	    			</tr>
		    		<tr>
		    			<th width="10%">Talla</th>
		    			<th>5</th>
		    			<th>7</th>
		    			<th>9</th>
		    			<th>11</th>
		    			<th>13</th>
		    			<th>15</th>
		    			<th>17</th>
		    			<th>19</th>
		    			<th>Total</th>	    			
		    		</tr>
		    		<tr>
		    			<td>Cantidad</td>
		    			<td><input type="number" class="form-control" ng-model="dama.t5"></td>
		    			<td><input type="number" class="form-control" ng-model="dama.t7"></td>
		    			<td><input type="number" class="form-control" ng-model="dama.t9"></td>
		    			<td><input type="number" class="form-control" ng-model="dama.t11"></td>
		    			<td><input type="number" class="form-control" ng-model="dama.t13"></td>
		    			<td><input type="number" class="form-control" ng-model="dama.t15"></td>
		    			<td><input type="number" class="form-control" ng-model="dama.t17"></td>
		    			<td><input type="number" class="form-control" ng-model="dama.t19"></td>
		    			<th><span>{{dama.t5+dama.t7+dama.t9+dama.t11+dama.t13+dama.t15+dama.t17+dama.t19}}</span></th>
		    		</tr>
		    		<tr>
		    			<th>Saldo</th>
		    			<td><input type="number" class="form-control" ng-model="damasaldo.t5"></td>
		    			<td><input type="number" class="form-control" ng-model="damasaldo.t7"></td>
		    			<td><input type="number" class="form-control" ng-model="damasaldo.t9"></td>
		    			<td><input type="number" class="form-control" ng-model="damasaldo.t11"></td>
		    			<td><input type="number" class="form-control" ng-model="damasaldo.t13"></td>
		    			<td><input type="number" class="form-control" ng-model="damasaldo.t15"></td>
		    			<td><input type="number" class="form-control" ng-model="damasaldo.t17"></td>
		    			<td><input type="number" class="form-control" ng-model="damasaldo.t19"></td>
		    			<th><span>{{damasaldo.t5+damasaldo.t7+damasaldo.t9+damasaldo.t11+damasaldo.t13+damasaldo.t15+damasaldo.t17+damasaldo.t19}}</span></th>
		    		</tr>
		    		<tr>
		    			<th>Compostura Lavado</th>
		    			<td><input type="number" class="form-control" ng-model="damacomplavado.t5"></td>
		    			<td><input type="number" class="form-control" ng-model="damacomplavado.t7"></td>
		    			<td><input type="number" class="form-control" ng-model="damacomplavado.t9"></td>
		    			<td><input type="number" class="form-control" ng-model="damacomplavado.t11"></td>
		    			<td><input type="number" class="form-control" ng-model="damacomplavado.t13"></td>
		    			<td><input type="number" class="form-control" ng-model="damacomplavado.t15"></td>
		    			<td><input type="number" class="form-control" ng-model="damacomplavado.t17"></td>
		    			<td><input type="number" class="form-control" ng-model="damacomplavado.t19"></td>
		    			<th><span>{{damacomplavado.t5+damacomplavado.t7+damacomplavado.t9+damacomplavado.t11+damacomplavado.t13+damacomplavado.t15+damacomplavado.t17+damacomplavado.t19}}</span></th>
		    		</tr>
		    		<tr>
		    			<th>Compostura Maquila</th>
		    			<td><input type="number" class="form-control" ng-model="damacompmaquila.t5"></td>
		    			<td><input type="number" class="form-control" ng-model="damacompmaquila.t7"></td>
		    			<td><input type="number" class="form-control" ng-model="damacompmaquila.t9"></td>
		    			<td><input type="number" class="form-control" ng-model="damacompmaquila.t11"></td>
		    			<td><input type="number" class="form-control" ng-model="damacompmaquila.t13"></td>
		    			<td><input type="number" class="form-control" ng-model="damacompmaquila.t15"></td>
		    			<td><input type="number" class="form-control" ng-model="damacompmaquila.t17"></td>
		    			<td><input type="number" class="form-control" ng-model="damacompmaquila.t19"></td>
		    			<th><span>{{damacompmaquila.t5+damacompmaquila.t7+damacompmaquila.t9+damacompmaquila.t11+damacompmaquila.t13+damacompmaquila.t15+damacompmaquila.t17+damacompmaquila.t19}}</span></th>
		    		</tr>
		    		<tr>
		    			<th>Total</th>
		    			<th><span>{{dama.t5+dama.t7+dama.t9+dama.t11+dama.t13+dama.t15+dama.t17+dama.t19+
		    			damasaldo.t5+damasaldo.t7+damasaldo.t9+damasaldo.t11+damasaldo.t13+damasaldo.t15+damasaldo.t17+damasaldo.t19+
		    		    damacomplavado.t5+damacomplavado.t7+damacomplavado.t9+damacomplavado.t11+damacomplavado.t13+damacomplavado.t15+damacomplavado.t17+damacomplavado.t19+
		    			damacompmaquila.t5+damacompmaquila.t7+damacompmaquila.t9+damacompmaquila.t11+damacompmaquila.t13+damacompmaquila.t15+damacompmaquila.t17+damacompmaquila.t19}}</span></th>
		    		</tr>
	    		</table>
	    	</div>	    	
	    </div>
     	<div class="form-group has-success" ng-show="TallasCaballero">
	    	<div class="col-sm-12 table-responsive">
	    		<table class="table table-bordered table-condensed table-striped">
	    			<tr><th colspan="10">Tallas Caballero</th></tr>
		    		<tr>
		    			<th>Talla</th>
		    			<th>28</th>
		    			<th>30</th>
		    			<th>32</th>
		    			<th>34</th>
		    			<th>36</th>
		    			<th>38</th>
		    			<th>40</th>
		    			<th>42</th>
		    			<th>44</th>	
		    			<th>Total</th>	    			
		    		</tr>
		    		<tr>
		    			<td>Cantidad</td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t28"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t30"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t32"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t34"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t36"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t38"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t40"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t42"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t44"></td>
		    			<th><span>{{caballero.t28+caballero.t30+caballero.t32+caballero.t34+caballero.t36+caballero.t38+caballero.t40+caballero.t42+caballero.t44}}</span></th>
		    		</tr>
		    		<tr>
		    			<th>Saldo</th>
		    			<td><input type="number" class="form-control" ng-model="caballerosaldo.t28"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerosaldo.t30"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerosaldo.t32"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerosaldo.t34"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerosaldo.t36"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerosaldo.t38"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerosaldo.t40"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerosaldo.t42"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerosaldo.t44"></td>
		    			<th><span>{{caballerosaldo.t28+caballerosaldo.t30+caballerosaldo.t32+caballerosaldo.t34+caballerosaldo.t36+
		    						caballerosaldo.t38+caballerosaldo.t40+caballerosaldo.t42+caballerosaldo.t44}}</span></th>
		    		</tr>
		    		<tr>
		    			<th>Compostura Lavado</th>
		    			<td><input type="number" class="form-control" ng-model="caballerocomplavado.t28"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerocomplavado.t30"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerocomplavado.t32"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerocomplavado.t34"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerocomplavado.t36"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerocomplavado.t38"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerocomplavado.t40"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerocomplavado.t42"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerocomplavado.t44"></td>
		    			<th><span>{{caballerocomplavado.t28+caballerocomplavado.t30+caballerocomplavado.t32+caballerocomplavado.t34+caballerocomplavado.t36+
		    						caballerocomplavado.t38+caballerocomplavado.t40+caballerocomplavado.t42+caballerocomplavado.t44}}</span></th>
		    		</tr>
		    		<tr>
		    			<th>Compostura Maquila</th>
		    			<td><input type="number" class="form-control" ng-model="caballerocompmaquila.t28"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerocompmaquila.t30"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerocompmaquila.t32"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerocompmaquila.t34"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerocompmaquila.t36"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerocompmaquila.t38"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerocompmaquila.t40"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerocompmaquila.t42"></td>
		    			<td><input type="number" class="form-control" ng-model="caballerocompmaquila.t44"></td>
		    			<th><span>{{caballerocompmaquila.t28+caballerocompmaquila.t30+caballerocompmaquila.t32+caballerocompmaquila.t34+caballerocompmaquila.t36+
		    						caballerocompmaquila.t38+caballerocompmaquila.t40+caballerocompmaquila.t42+caballerocompmaquila.t44}}</span></th>
		    		</tr>
		    		<tr>
		    			<th>Total</th>
		    			<th><span>{{caballero.t28+caballero.t30+caballero.t32+caballero.t34+caballero.t36+caballero.t38+caballero.t40+caballero.t42+caballero.t44+
		    						caballerosaldo.t28+caballerosaldo.t30+caballerosaldo.t32+caballerosaldo.t34+caballerosaldo.t36+
		    						caballerosaldo.t38+caballerosaldo.t40+caballerosaldo.t42+caballerosaldo.t44+
		    					    caballerocomplavado.t28+caballerocomplavado.t30+caballerocomplavado.t32+caballerocomplavado.t34+caballerocomplavado.t36+
		    						caballerocomplavado.t38+caballerocomplavado.t40+caballerocomplavado.t42+caballerocomplavado.t44+
		    						caballerocompmaquila.t28+caballerocompmaquila.t30+caballerocompmaquila.t32+caballerocompmaquila.t34+caballerocompmaquila.t36+
		    						caballerocompmaquila.t38+caballerocompmaquila.t40+caballerocompmaquila.t42+caballerocompmaquila.t44}}
	    					</span></th>
		    		</tr>
	    		</table>
	    	</div>	    	
	    </div>
	    <div class="form-group has-success">
	    	<button type="button" class="btn btn-success" ng-click="btnAgregaListaEntrada()">Agregar</button>
	    </div>
	</form><hr/>
</div>