<div align="center" ng-controller="AlmacenSalidasCtrl">
	<h1>Salidas almacén</h1>
	<form name="formalmacensalida" class="form-horizontal">
		<div class="form-group has-success">
			 <div class="col-sm-2">
		       	<label>Fecha:</label>
	            <input type="date" name="fecha" class="form-control" ng-model="salida.fecha" required="" >
	        </div>
	        <div class="col-sm-1">
		       	<label>Folio:</label>
	            <input type="text" name="folio" class="form-control" ng-model="salida.folio" required="" >
	        </div>
	        
	        <div class="col-sm-3">
	        	<label>Clave movimientos:</label>
	            <select name="cvemovimientos" class="form-control" required="" ng-model="salida.cvemovimientos" ng-change="CambiaClaveMovimiento(salida.cvemovimientos)" style="font-size: x-small;">
                    <option ng-show="z.Tipo == 'Salida'" ng-repeat="z in movimientoslist" value="{{z}}">{{z.Descripcion}}</option>
                </select>
	        </div>
	        <div class="col-sm-3" ng-show="cvemovimientoselect=='02'">
	        	<label>Clave cliente:</label>
	           	<select name="cveproveedor" class="form-control" required="" ng-model="salida.cveproveedor" style="font-size: x-small;">
                    <option ng-repeat="y in clienteslist" value="{{y}}">{{y.descripcion}}</option>
                </select>
	        </div>


	         <div class="col-sm-3" ng-show="cvemovimientoselect=='04'">
	        	<label>Selecciona almacén:</label>
	            <select name="tipoalmacen" class="form-control" required="" ng-model="salida.tipoalmacen" style="font-size: x-small;">
                    <option ng-repeat="z1 in opcioneslist" value="{{z1}}">{{z1}}</option>
                </select>
	        </div>

	        <div class="col-sm-3" ng-show="cvemovimientoselect=='04' && salida.tipoalmacen=='CONFECCION'">
	        	<label>Clave proveedor traspaso almacen:</label>
	           	<select name="cveproveedor" class="form-control" required="" ng-model="salida.cveproveedor" style="font-size: x-small;">
                    <option ng-repeat="y in proveedorconfeccionlist" value="{{y}}">{{y.empresa}}</option>
                </select>
	        </div>

	        <div class="col-sm-3" ng-show="cvemovimientoselect=='04' && salida.tipoalmacen=='LAVADO'">
	        	<label>Clave proveedor traspaso almacen:</label>
	           	<select name="cveproveedor" class="form-control" required="" ng-model="salida.cveproveedor" style="font-size: x-small;">
                    <option ng-repeat="y in proveedorlavadolist" value="{{y}}">{{y.empresa}}</option>
                </select>
	        </div>
		</div><hr/>


		<div class="form-group has-success">
	        <label class="col-sm-1">Corte:</label>
	        <div class="col-sm-8">
             	<input type="text" style="font-size:smaller" ng-model="salida.corte" 
                 uib-typeahead="corte.corte + ' ( Familia: ' + corte.familia + ' ) ' + ' ( Modelo: ' + corte.modelo + ' ) ' + ' ( Color: ' + corte.color + ' )' for corte in corteslist | filter:$viewValue | limitTo:8"
                 typeahead-editable="false" 
                 typeahead-on-select="onSelect($item)"
                 class="form-control" 
                 placeholder="Introduce el número de corte." value="corte">
	        </div>
        </div>


        <!-- Tablas para registrar salida para ventas  -->
        <div class="form-group has-success" ng-show="TallasDama && cvemovimientoselect=='02'">
	    	<div class="col-sm-12 table-responsive">
	    		<table class="table table-bordered table-condensed table-striped">
	    			<tr>
	    				<th colspan="9">Tallas Dama</th>
	    			</tr>
		    		<tr>
		    			<th>Talla</th>
		    			<th>5</th>
		    			<th>7</th>
		    			<th>9</th>
		    			<th>11</th>
		    			<th>13</th>
		    			<th>15</th>
		    			<th>17</th>
		    			<th>19</th>
		    		</tr>
		    		<tr style="background-color: black;">
		    			<th><font color="white">Existencia</font></th>
		    			<th><font color="white">{{talla5}}</font></th>
		    			<th><font color="white">{{talla7}}</font></th>
		    			<th><font color="white">{{talla9}}</font></th>
		    			<th><font color="white">{{talla11}}</font></th>
		    			<th><font color="white">{{talla13}}</font></th>
		    			<th><font color="white">{{talla15}}</font></th>
		    			<th><font color="white">{{talla17}}</font></th>
		    			<th><font color="white">{{talla19}}</font></th>
		    		</tr>
		    		<tr>
		    			<td>Cantidad</td>
		    			<td><input type="number" class="form-control" ng-model="dama.t5" ng-disabled="talla5=='0' || talla5=='' || talla5==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="dama.t7" ng-disabled="talla7=='0' || talla7=='' || talla7==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="dama.t9" ng-disabled="talla9=='0' || talla9=='' || talla9==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="dama.t11" ng-disabled="talla11=='0' || talla11=='' || talla11==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="dama.t13" ng-disabled="talla13=='0' || talla13=='' || talla13==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="dama.t15" ng-disabled="talla15=='0' || talla15=='' || talla15==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="dama.t17" ng-disabled="talla17=='0' || talla17=='' || talla17==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="dama.t19" ng-disabled="talla19=='0' || talla19=='' || talla19==undefined"></td>
		    		</tr>
		    		<tr>
		    			<th>Total</th>
		    			<th><span>{{(dama.t5*1)+(dama.t7*1)+(dama.t9*1)+(dama.t11*1)+(dama.t13*1)+(dama.t15*1)+(dama.t17*1)+(dama.t19*1)}}</span></th>
		    		</tr>
	    		</table>
	    	</div>	    	
	    </div>
     	<div class="form-group has-success" ng-show="TallasCaballero && cvemovimientoselect=='02'">
	    	<div class="col-sm-12 table-responsive">
	    		<table class="table table-bordered table-condensed table-striped">
	    			<tr><th colspan="10">Tallas Caballero</th></tr>
		    		<tr>
		    			<th>Talla</th>
		    			<th>28</th>
		    			<th>30</th>
		    			<th>32</th>
		    			<th>34</th>
		    			<th>36</th>
		    			<th>38</th>
		    			<th>40</th>
		    			<th>42</th>
		    			<th>44</th>
		    		</tr>
		    		<tr style="background-color: black;">
		    			<th><font color="white">Saldo</font></th>
		    			<th><font color="white">{{talla28}}</font></th>
		    			<th><font color="white">{{talla30}}</font></th>
		    			<th><font color="white">{{talla32}}</font></th>
		    			<th><font color="white">{{talla34}}</font></th>
		    			<th><font color="white">{{talla36}}</font></th>
		    			<th><font color="white">{{talla38}}</font></th>
		    			<th><font color="white">{{talla40}}</font></th>
		    			<th><font color="white">{{talla42}}</font></th>
		    			<th><font color="white">{{talla44}}</font></th>
		    		</tr>
		    		<tr>
		    			<td>Cantidad</td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t28" ng-disabled="talla28=='0' || talla28=='' || talla28==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t30" ng-disabled="talla30=='0' || talla30=='' || talla30==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t32" ng-disabled="talla32=='0' || talla32=='' || talla32==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t34" ng-disabled="talla34=='0' || talla34=='' || talla34==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t36" ng-disabled="talla36=='0' || talla36=='' || talla36==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t38" ng-disabled="talla38=='0' || talla38=='' || talla38==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t40" ng-disabled="talla40=='0' || talla40=='' || talla40==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t42" ng-disabled="talla42=='0' || talla42=='' || talla42==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t44" ng-disabled="talla44=='0' || talla44=='' || talla44==undefined"></td>
		    		</tr>
	    		</table>
	    	</div>	    	
	    </div>

	    <!-- Tabla para registrar salida para compostura -->
	    <div class="form-group has-success" ng-show="TallasDama && cvemovimientoselect=='04'">
	    	<div class="col-sm-12 table-responsive">
	    		<table class="table table-bordered table-condensed table-striped">
	    			<tr>
	    				<th colspan="9">Tallas dama para compostura</th>
	    			</tr>
		    		<tr>
		    			<th>Talla</th>
		    			<th>5</th>
		    			<th>7</th>
		    			<th>9</th>
		    			<th>11</th>
		    			<th>13</th>
		    			<th>15</th>
		    			<th>17</th>
		    			<th>19</th>
		    		</tr>
		    		<tr style="background-color: black;">
		    			<th><font color="white">Existencia</font></th>
		    			<th><font color="white">{{talla5}}</font></th>
		    			<th><font color="white">{{talla7}}</font></th>
		    			<th><font color="white">{{talla9}}</font></th>
		    			<th><font color="white">{{talla11}}</font></th>
		    			<th><font color="white">{{talla13}}</font></th>
		    			<th><font color="white">{{talla15}}</font></th>
		    			<th><font color="white">{{talla17}}</font></th>
		    			<th><font color="white">{{talla19}}</font></th>
		    		</tr>
		    		<tr>
		    			<td>Cantidad</td>
		    			<td><input type="number" class="form-control" ng-model="dama.t5" ng-disabled="talla5=='0' || talla5=='' || talla5==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="dama.t7" ng-disabled="talla7=='0' || talla7=='' || talla7==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="dama.t9" ng-disabled="talla9=='0' || talla9=='' || talla9==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="dama.t11" ng-disabled="talla11=='0' || talla11=='' || talla11==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="dama.t13" ng-disabled="talla13=='0' || talla13=='' || talla13==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="dama.t15" ng-disabled="talla15=='0' || talla15=='' || talla15==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="dama.t17" ng-disabled="talla17=='0' || talla17=='' || talla17==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="dama.t19" ng-disabled="talla19=='0' || talla19=='' || talla19==undefined"></td>
		    		</tr>
		    		<tr>
		    			<th>Total</th>
		    			<th><span>{{(dama.t5*1)+(dama.t7*1)+(dama.t9*1)+(dama.t11*1)+(dama.t13*1)+(dama.t15*1)+(dama.t17*1)+(dama.t19*1)}}</span></th>
		    		</tr>
	    		</table>
	    	</div>	    	
	    </div>
     	<div class="form-group has-success" ng-show="TallasCaballero && cvemovimientoselect=='04'">
	    	<div class="col-sm-12 table-responsive">
	    		<table class="table table-bordered table-condensed table-striped">
	    			<tr><th colspan="10">Tallas caballero para compostura</th></tr>
		    		<tr>
		    			<th>Talla</th>
		    			<th>28</th>
		    			<th>30</th>
		    			<th>32</th>
		    			<th>34</th>
		    			<th>36</th>
		    			<th>38</th>
		    			<th>40</th>
		    			<th>42</th>
		    			<th>44</th>
		    		</tr>
		    		<tr style="background-color: black;">
		    			<th><font color="white">Saldo</font></th>
		    			<th><font color="white">{{talla28}}</font></th>
		    			<th><font color="white">{{talla30}}</font></th>
		    			<th><font color="white">{{talla32}}</font></th>
		    			<th><font color="white">{{talla34}}</font></th>
		    			<th><font color="white">{{talla36}}</font></th>
		    			<th><font color="white">{{talla38}}</font></th>
		    			<th><font color="white">{{talla40}}</font></th>
		    			<th><font color="white">{{talla42}}</font></th>
		    			<th><font color="white">{{talla44}}</font></th>
		    		</tr>
		    		<tr>
		    			<td>Cantidad</td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t28" ng-disabled="talla28=='0' || talla28=='' || talla28==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t30" ng-disabled="talla30=='0' || talla30=='' || talla30==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t32" ng-disabled="talla32=='0' || talla32=='' || talla32==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t34" ng-disabled="talla34=='0' || talla34=='' || talla34==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t36" ng-disabled="talla36=='0' || talla36=='' || talla36==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t38" ng-disabled="talla38=='0' || talla38=='' || talla38==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t40" ng-disabled="talla40=='0' || talla40=='' || talla40==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t42" ng-disabled="talla42=='0' || talla42=='' || talla42==undefined"></td>
		    			<td><input type="number" class="form-control" ng-model="caballero.t44" ng-disabled="talla44=='0' || talla44=='' || talla44==undefined"></td>
		    		</tr>
	    		</table>
	    	</div>	    	
	    </div>




		<div class="form-group has-success">
			<button type="button" class="btn btn-danger" ng-click="btnRegistraSalida()" ng-show="cvemovimientoselect=='02'">Registrar salida del almacén</button>
			<button type="button" class="btn btn-warning" ng-click="btnRegistraSalidaCompostura()" ng-show="cvemovimientoselect=='04'">Registrar salida del almacén a compostura</button>
		</div>
	</form>
</div>